@import "https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100&display=swap";

@import "https://fonts.cdnfonts.com/css/akrobat";

@import "https://fonts.googleapis.com/css2?family=Poppins";

@import "https://fonts.cdnfonts.com/css/proxima-nova";

@import "https://fonts.cdnfonts.com/css/bebas-neue";

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'Gilroy';
    src: url(Gilroy-Regular.ttf)
}

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    cursor: pointer;
    font-size: 1.5vh;
    font-family: 'Gilroy', sans-serif;
    padding: 3vh;
    overflow: hidden;
    color: #fff;
    background: rgba(0, 0, 0, .13);
    cursor: none
}

#fairplay-rp {
    /* position:absolute;
    width: 100%;
    height: 100%;
    left:0;
    top:0; */

}

.console {
    background-color: #fff;
    color: #fff;
    font-weight: 700
}

.menu {
    display: block;
    height: 31vh;
	width: 12.3vw;
    position: absolute;
    text-align: center;
    cursor: pointer;
    border-radius: 0.5vh;
	background: url("https://cdn.discordapp.com/attachments/880747722158788628/1137048795121725630/Ryde_Romania_Logo_NEW_2.0.png") 50% 36% / 12vw no-repeat, rgba(0, 0, 0, 0.5);
    box-shadow: rgba(0, 0, 0, 0.77) 0px 0px 10px, rgba(255, 255, 255, 0.14) 0px 0px 20px inset;
    border: 2px solid #ffffff20;
    border-radius: 5px;
    overflow: hidden;
    border-radius: .3vw;
	font-family: Roboto, sans-serif;
    text-align: left;
	font-weight: 600;
	right: 7vh;
    margin-right: -2.5%;
    margin-top: 32.5%
}

.menu>* {
    color: rgba(255, 255, 255, 0.95);
    opacity: .8;
    position: absolute
}

.menu_description {
    display: none !important
}

.menu h1 {
    opacity: 0
}

.choices {
    display: block;
    overflow: auto;
    text-align: center;
    height: 100%;
    width: 100%;
    font-family: "Akrobat"
}

.choices::-webkit-scrollbar {
    display: none;
    float: center
}

.choices div {
    padding: 1vh;
    text-transform: uppercase;
    font-size: 17px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    border-radius: .25vw;
    box-shadow: inset 0 0 20px rgba(6, 6, 6, .15);
    background-color: #ffffff15;
    border: 2px solid #ffffff05
}

.choices .selected {
    background-color: #ffffff35;
    border: 2px solid #ffffff15;
    text-shadow: 1px 1px 20px #fff;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.full-scale {
    width: 100%;
    height: 100%
}

.dialog-container {
    background: #00000070 !important;
    border: 3px solid #ffffff10;
    border-radius: 4px !important;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    overflow: hidden;
    padding: .5vh;
    padding-left: 0;
    padding-right: 0;
    width: 25vw;
    height: auto;
    display: flex;
    flex-direction: column
}

.dialog-container>.dialog-title {
    display: inline-flex;
    flex-direction: row;
    border-bottom: 2px solid #ffffff10;
    padding: 1vh;
    align-items: center;
    justify-content: center
}

.dialog-container>.dialog-title>h1 {
    font-size: 1em;
    left: 1vw;
    position: relative
}

.dialog-container>.dialog-title>h1>i {
    background: #ffffff20;
    padding: .65vh .5vw;
    border-radius: .25vw;
    color: #ffffff95
}

.dialog-container>.dialog-title>.close-circle {
    transition: .3s;
    position: relative;
    font-size: .6em;
    margin-left: auto;
    right: 1vw;
    background: #ffffff20;
    border-radius: 50%;
    padding: .8vh 1vh;
    font-weight: 500;
    text-align: center;
    display: flex
}

.dialog-container>.dialog-title>.close-circle:hover {
    cursor: pointer;
    background: #ffffff50;
    transition: .3s
}

.dialog-container>.dialog-text {
    padding: 1.5vh 1vh;
    opacity: .5;
    text-align: center;
    font-size: 1em;
    font-family: "Akrobat"
}

.dialog-container>.dialog-text>input {
    padding: 1vh .5vw;
    width: 90%;
    background: #ffffff20;
    text-align: left;
    outline: none;
    border: none;
    border-radius: .15vw;
    color: #fff
}

.dialog-container>.dialog-text>input::placeholder {
    color: rgba(255, 255, 255, .85)
}

.dialog-container>.dialog-footer {
    margin-top: auto;
    display: inline-flex;
    flex-direction: row;
    border-top: 2px solid #ffffff10;
    padding: 1vh 1.5vw;
    align-items: center;
    justify-content: center;
    gap: 2.5%;
    text-align: center
}

.dialog-container>.dialog-footer>.confirm-btn {
    transition: .3s;
    background: linear-gradient(to left, rgba(33, 117, 245, .40), rgba(33, 117, 245, .40));
    padding: 1vh 1vw;
    border-radius: .25vw;
    font-family: "Akrobat";
    font-size: 1em;
    text-align: center;
    width: 90%
}

.dialog-container>.dialog-footer>.confirm-btn:hover {
    cursor: pointer;
    transition: .3s;
    background: linear-gradient(to left, rgba(33, 117, 245, .60), rgba(33, 117, 245, .60));
    box-shadow: 0 0 35px rgba(33, 117, 245, .60)
}

.dialog-container>.dialog-footer>.cancel-btn {
    background: linear-gradient(to top, #dd2c3d, #911d28);
    padding: 1vh 1vw;
    border-radius: .25vw;
    font-family: "Akrobat";
    font-size: 1em;
    text-align: center
}

.prompt-layout {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1F1E27;
    opacity: .8;
    display: none
}

.prompt-layout>.prompt-menu {
    width: 42.5vh;
    padding: 1vh;
    padding-bottom: 7.5vh;
    font-family: "Akrobat";
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.15) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh
}

.prompt-layout>.prompt-menu>.head-texts {
    display: flex;
    flex-direction: column;
    gap: .15vh;
    justify-content: center;
    align-items: center
}

.prompt-layout>.prompt-menu>.head-texts>h1 {
    margin-top: 4vh;
    font-style: normal;
    font-weight: 700;
    font-size: 3.95vh;
    line-height: 120%;
    text-align: left;
    text-transform: uppercase;
    color: #FFF
}

.prompt-layout>.prompt-menu>.head-texts>span {
    font-family: 'Akrobat';
    font-style: normal;
    font-weight: 700;
    font-size: 1.9vh;
    line-height: 120%;
    text-transform: uppercase;
    color: #FFDE2A;
    text-align: left;
    letter-spacing: 1vh
}

.prompt-layout>.prompt-menu>.head-texts>p {
    width: 30.3vh;
    height: 5.4vh;
    text-align: center;
    margin-top: 1.3vh;
    font-style: normal;
    font-weight: 500;
    font-size: 1.8vh;
    line-height: 150%;
    letter-spacing: .01em;
    color: #FFF;
    opacity: .7
}

.prompt-layout>.prompt-menu>.input-fields {
    display: flex;
    flex-direction: column;
    justify-self: center;
    padding: 2vh 0;
    align-self: center;
    margin-top: 5%;
    width: 85%;
    gap: .15vh
}

.prompt-layout>.prompt-menu>.input-fields>.field {
    width: 100%;
    padding: 1vh;
    display: flex;
    flex-direction: column;
    gap: 1vh
}

.prompt-layout>.prompt-menu>.input-fields>.field>strong {
    font-size: 1.35em;
    text-transform: uppercase
}

.prompt-layout>.prompt-menu>.input-fields>.field>input {
    background: rgba(255, 255, 255, 0.08);
    border-radius: .7vh;
    outline: none;
    border: none;
    color: #fff;
    text-align: center;
    width: 100%;
    height: 7.4vh;
    padding: 0 .85vw;
    font-family: "Akrobat";
    letter-spacing: .15vh;
    font-size: 1.15em
}

.prompt-layout>.prompt-menu>.input-fields>.field>input::placeholder {
    text-transform: uppercase;
    font-family: "Akrobat";
    letter-spacing: .25vh;
    font-size: 1.05em
}

.prompt-layout>.prompt-menu>.confirm-prompt {
    width: 29vh;
    height: 8vh;
    background: #81bcfb;
    border-radius: .5vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 90.5%;
    position: absolute;
    transition: 1s;
    transform: matrix(1, -0.05, 0, 1, 0, 0)
}

.prompt-layout>.prompt-menu>.confirm-prompt>p {
    font-size: 1.85em;
    font-weight: 700;
    letter-spacing: .25vh
}

.prompt-layout>.prompt-menu>.confirm-prompt:hover {
    transform: scale(95%);
    opacity: .75
}

.request-container {
    width: 30%;
    height: 40%;
    top: 22.5%;
    font-family: "Akrobat";
    display: none;
}

.request-container * {
    text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.25);
}

.request-container>.wrapper {
    width: 38.333333333333336vh;
    height: 18.425925925925927vh;
    display: flex;
    position:
    absolute;
    left:50%;
    transform:
    translate(-50%,0);
    flex-direction: column;
    align-items: center;
    /* gap: 1vh; */
    justify-content: center;
    padding: 2vh;
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 3.7962962962962963vh;
}

.request-container>.wrapper>.header-content {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    /* padding: 1vh 0; */
    gap: 3.5%;
    flex-direction: column;
    margin-bottom: 1.0185185185185186vh;
}

.request-container>.wrapper>.header-content>p {
    font-family: 'Akrobat';
    font-style: normal;
    font-weight: 900;
    font-size: 2.2222222222222223vh;
    line-height: 2.685185185185185vh;
}

.request-container>.wrapper>.header-content>div {
    margin-top: 0.8333333333333334vh;
    width: 80%;
    height: 0.1851851851851852vh;
    background: #d2d2d2;
}

.request-container>.wrapper>p {
    width: 90%;
    text-align: center;
    font-family: 'Akrobat';
    font-style: normal;
    font-weight: 900;
    font-size: 1.8518518518518516vh;
    line-height: 2.2222222222222223vh;
    margin-bottom: .95vh;
    padding: 1.2962962962962963vh 3.3333333333333335vh;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 2.08%, rgba(0, 0, 0, 0.3) 15.69%, rgba(0, 0, 0, 0.238439) 53.71%, rgba(0, 0, 0, 0.166667) 86.62%, rgba(0, 0, 0, 0) 100%);
}

.request-container>.wrapper>.confirm-btns {
    display: flex;
    /* padding: 1vh; */
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 3.3333333333333335vh;
}

.request-container>.wrapper>.confirm-btns>span {
    color: #bdfe4c;
    font-size: 1.1em;
}

.request-container>.wrapper>.confirm-btns>span:nth-of-type(2) {
    color: #f94f52;
}

.request-container>.wrapper>.confirm-btns>p {
    position:relative;
    top:0.9259259259259258vh;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 3.148148148148148vh;
    font-family: 'Akrobat';
    font-style: normal;
    font-weight: 900;
    /* font-size: 22px; */
    line-height: 2.4074074074074074vh;
    color: #FFFFFF;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    width: 10.925925925925926vh;
    height: 3.148148148148148vh;
    text-align:
    center;
    line-height:3.148148148148148vh;
}

.request-container>.wrapper>.confirm-btns>p:before {
    display:inline-block;
    position:absolute;
    content: "Y";
    text-align:center;
    line-height: 3.5185185185185186vh;
    width: 3.5185185185185186vh;
    height: 3.5185185185185186vh;
    left: -1.0185185185185186vh;
    top: -0.1851851851851852vh;
    background: #07CA8B;
    border-radius: 4.62962962962963vh;
}

.request-container>.wrapper>.confirm-btns>p:nth-child(2):before {
    display:inline-block;
    position:absolute;
    content: "N";
    text-align:center;
    line-height: 3.5185185185185186vh;
    width: 3.5185185185185186vh;
    height: 3.5185185185185186vh;
    left: -1.0185185185185186vh;
    top: -0.1851851851851852vh;
    background: #FC756F;
    border-radius: 4.62962962962963vh;
}

@keyframes anim-confirmbtn-diag {
    from {
        transform: none
    }

    to {
        transform: scale(1.055)
    }
}

@keyframes anim-interaction{
    from {
        bottom: -1%;
    } to {
        bottom: 5%;
    }
}

.interaction-wrap {
    font-family: "Akrobat";
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    background: radial-gradient(88.19% 1508.83% at 11.81% 50%, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 34.37%, rgba(0, 0, 0, 0) 88.02%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 2.037037037037037vh;
    animation: anim-interaction 1s;
}

.interaction-wrap .i-but {
    border-radius: 3.0555555555555554vh;
    background-color: #53AAFC;
    box-shadow: 0px 0px 16px 0px #53AAFC;
    min-width: 4.444444444444445vh;
    padding: 0 0.5555555555555556vh;
    display: flex;
    height: 4.444444444444445vh;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-size: 1.6666666666666667vh;
    margin-right: 0.7407407407407408vh;
    font-weight: 800;
    text-transform: uppercase;
    -webkit-animation-duration: 1.4s;
    animation-duration: 1.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: pulse;
    animation-name: pulse;
}

.interaction-wrap p {
    color: #fff;
  /*  text-transform: uppercase;*/
    font-size: 1.6666666666666667vh;
    font-weight: bold;
    letter-spacing: 1px;
}

.map-border {
    display: none;
    bottom: 5.9%;
    left: 1.3%;
    width: 0;
    text-align: center
}

.map-border>.square {
    bottom: 5.3%;
    width: 29vh;
    height: 18.5vh;
    border: 4px solid #d1cdcdee;
    border-radius: .5vw;
    position: absolute;
    display: inline-block;
    transition: 1s
}

@keyframes fade-in {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}