@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit&family=Open+Sans:wght@600&family=Smooch+Sans:wght@600&display=swap');

.glovo-container {
    width:75rem;
    height: 45rem;

    background-image: url('https://i.imgur.com/hx3bki4.png');
    background-repeat: no-repeat;
    border-radius: 15px;
    padding: 2rem;
    font-family: 'Smooch Sans', sans-serif;
    transform: perspective(300px) rotateY(3deg);

    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}

.glovo-container .glovo-info {
    margin-top: 7rem;
    margin-left: 7rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-weight: 600;
    font-size: 1.2rem;
    color: white;
}

.glovo-container .glovo-info .glovo-info-boxes {
    margin-top: 1rem;
    display: inline-flex;
    align-items: center;
    gap: 25px;
}

.glovo-container .glovo-info .glovo-info-boxes .glovo-box {
    min-height: 3rem;
    min-width: 7rem;
    max-width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.671);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    font-size: 1rem;
}

.glovo-container .glovo-description {
    margin-top: 3rem;
    margin-left: 7rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    gap: 15px;
    max-width: 30rem;
}

.glovo-container .glovo-description .title {
    font-size: 1.5rem;
    color: white;
    font-weight: 600;
}

.glovo-container .glovo-description .description {
    color: white;
    opacity: .9;
    font-size: 1.2rem;
}

.glovo-container .button {
    margin-top: 10rem;
    margin-left: 7rem;

    min-width: 5rem;
    min-height: 3rem;
    max-width: 6rem;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

    color: white;
    background-color: rgba(0, 0, 0, 0.671);
    border: 0;
}

.glovo-container .button:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.938);
}