#asigurare_container {
    display: flex;
    position: absolute;
    top: 50%;
    left: 2%;
    transform: translate(0%,-50%);
    width: 55.55555555555556vh;
    height: 37.03703703703704vh;
    background-image:
    url("https://cdn.fairplay-rp.ro/recovery/FP_ASIGURARE.png");
    background-size: 100%;
    color:
    black;
    font-size: 1.1814814814814816vh;
}

#asigurare_container .expire_date {
    position: absolute;
    top: 75%;
    left: 16%;
    width: 50%;
}

#asigurare_container .owner_name {
    position: absolute;
    top: 38%;
    left: 30%;
    width: 50%;
    font-size: 0.9em;
}

#asigurare_container .vehicle {
    position: absolute;
    top: 38%;
    left: 70%;
    width: 50%;
    font-size: 0.9em;  
}

#asigurare_container .plate {
    position: absolute;
    top: 75%;
    left: 53%;
    width: 30%;
    font-size: 1.1em;
    text-align: center;
}

#asigurare_container .expire_date div {
    display: inline;
    margin: 0 0.9259259259259258vh;
    text-align: center;
}

#rovinieta_container {
    box-sizing: border-box;
    display: flex;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 54.5062vh;
    height: 31.2963vh;

    background: rgba(175, 217, 255, 0.98);
    border: 0.0617vh solid #000000;
    border-radius: 0.8025vh;
    font-family: "Poppins";
    color: white;
}


/* ROVINIETA */
#rovinieta_container * {
    position: absolute;
}

#rovinieta_container .up_info {
    left: 1.8519vh;
    width: 51.6667vh;
    height: 7.7778vh;
}

#rovinieta_container .up_info .logo {
    right: 0;
    width: 7.7778vh;
    height: 100%;
    background:     url("https://cdn.discordapp.com/attachments/880747722158788628/1135632667455528990/FP_ROVINIETA.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

#rovinieta_container .up_info .rect {
    display: flex;
    top: 2.4074vh;
    left: 0%;
    width: 41.8519vh;
    height: 3.0247vh;
    background: #1E1E1E;
}

#rovinieta_container .up_info .rect .left_text {
    left: 1.358vh;
    top: 0.5556vh;
    font-style: normal;
    font-weight: 900;
    font-size: 1.2346vh;
    line-height: 1.8519vh;
    /* identical to box height */

    text-align: center;
}

#rovinieta_container .up_info .rect .right_text {
    right: 1.5432vh;
    top: 0.8025vh;
    font-style: normal;
    font-weight: 300;
    font-size: 0.9259vh;
    line-height: 1.358vh;
    /* identical to box height */

    text-align: center;
}

#rovinieta_container .up_middle_info {
    display: flex;
    flex-direction: column;
    gap: 0.8642vh;
    left: 2.6543vh;
    top: 8.7654vh;
    width: 45.679vh;
    height: 5.9877vh;
    font-style: normal;
    font-weight: 400;
    font-size: 1.2346vh;
    line-height: 1.8519vh;
    color: #1E1E1E;
}

#rovinieta_container .up_middle_info .rect {
    width: 0.5556vh;
    height: 4.8148vh;
    top: 0;
    left: 0;
    background: #1E1E1E;
}

#rovinieta_container .up_middle_info .text {
    position: relative;
    display: block;
    left: 1.8519vh;
    width: 24.9383vh;
    white-space: pre;
}

#rovinieta_container .up_middle_info .text .the_text {
    color: rgba(30, 30, 30, 0.65);
}

#rovinieta_container .up_middle_info .lower_right {
    right: 0;
    bottom: 0;
    font-weight: 300;
    font-size: 1.0494vh;
    line-height: 1.6049vh;
}

#rovinieta_container .middle_separator {
    width: 47.7778vh;
    left: 1.8519vh;
    top: 15vh;
    height: 0.0617vh;
    background-color: black;
}

#rovinieta_container .down_middle_info {
    display: flex;
    flex-direction: column;
    gap: 0.8642vh;
    left: 1.8519vh;
    top: 15vh;
    width: 47.7778vh;
    height: 8.8272vh;
    font-style: normal;
    font-weight: 400;
    font-size: 1.2346vh;
    line-height: 1.8519vh;
    color: #1E1E1E;
}

#rovinieta_container .down_middle_info .info_up {
    display: flex;
    right: 0.7407vh;
    font-style: normal;
    font-weight: 300;
    font-size: 1.0494vh;
    line-height: 1.6049vh;
}

#rovinieta_container .down_middle_info .rect {
    width: 0.5556vh;
    height: 7.284vh;
    background-color: black;
    left: 0.8025vh;
    bottom: 0;
}

#rovinieta_container .down_middle_info .text {
    position: relative;
    display: block;
    top: 2.8395vh;
    left: 2.8395vh;
    width: 24.9383vh;
    white-space: pre;
}

#rovinieta_container .down_middle_info .text .the_text {
    right: 0;
    color: rgba(30, 30, 30, 0.65);
}

#rovinieta_container .middle_down_text {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    width: 11.2963vh;
    height: 2.4691vh;
    font-style: normal;
    font-weight: 300;
    font-size: 0.8025vh;
    line-height: 1.2346vh;
    text-align: center;

    color: #1E1E1E;
}

#rovinieta_container .bottom_status {
    top: 27.4691vh;
    left: 3.4568vh;
    width: 14.8765vh;
    height: 2.9012vh;
}


#rovinieta_container .bottom_status .rect {
    bottom: 0;
    width: 14.8765vh;
    height: 1.0494vh;
    background-color: #1E1E1E;
    border-radius: 2.4074vh;
}

#rovinieta_container .bottom_status .text {
    top: 0;
    width: 100%;
    font-style: normal;
    font-weight: 700;
    font-size: 1.2346vh;
    line-height: 1.8519vh;
    /* identical to box height */

    text-align: center;

    color: #000000;
}

#rovinieta_container .bottom_status .text .status {
    position: relative;
    margin-left: 0.9877vh;
    color: #006610;
}

#rovinieta_container .bottom_status_second {
    display: flex;
    flex-direction: row;
    gap: 1.7901vh;
    width: 14.8765vh;
    height: 5.4938vh;
    left: 36.1728vh;
    top: 24.8765vh;
    font-style: normal;
    font-weight: 400;
    font-size: 1.0494vh;
    line-height: 1.6049vh;
    color: #1E1E1E;
}

#rovinieta_container .bottom_status_second .rect {
    bottom: 0;
    width: 14.8765vh;
    height: 1.0494vh;
    background-color: #1E1E1E;
    border-radius: 2.4074vh;
}

#rovinieta_container .bottom_status_second .upper_text {
    top: 0;
    width: 100%;
    text-align: center;
}

#rovinieta_container .date {
    position: relative;
    top: 1.9136vh;
    left: 0.9877vh;
    width: 5.4321vh;
    height: 2.4691vh;
    text-align: center;

    font-style: normal;
    font-weight: 400;
    font-size: 0.9259vh;
    line-height: 1.1728vh;
    /* identical to box height */

    margin: 0;
    color: #1E1E1E;
}

#rovinieta_container .date .the_date {
    position: relative;
    top: 0;
    color: rgba(30, 30, 30, 0.47);
}