.dailymissions-layout {}

.dailymissions-layout *{
    margin:revert;
    padding:revert;
}

.fairplayReward-mainReward{
    position: absolute;
    width: 8%;
    height: 13%;
    bottom: 0vh;
    left: 70%;
    font-family: "Akrobat";
    font-weight: 700;
    background: linear-gradient(to top, #eca701,  rgb(242 237 255 / 0%));
    padding: 1vh;
    will-change: bottom;
    z-index: -2;
    line-height: 0.7vh;
    animation: slideReward 2s;
}

.fairplayReward-mainReward > .fairplayReward-Wrapper {
    width: 100%;
    height: 100%;

    /* background-image: url("https://imgur.com/cMVZLzP.png"); */
    background-size: 75% 100%;
    background-repeat: no-repeat;

    margin-top: 1vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fairplayReward-mainReward > .fairplayReward-Wrapper > img.fairplayReward-fireStick {
    position: absolute;
    left: 59%;
    width: 70%;
    bottom: 00%;
    transform: rotate(-11deg);
    z-index: -1;
}

.fairplayReward-mainReward > .fairplayReward-Wrapper > .fairplayReward-Texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #fff;
    margin-top: -2.5vh;
    font-weight: bold;
}

.fairplayReward-mainReward > .fairplayReward-Wrapper > .fairplayReward-Texts > p {
    color: #ffffff99;
    letter-spacing: .15vh;
    font-size: 1.6em;
}

.fairplayReward-mainReward > .fairplayReward-Wrapper > .fairplayReward-Texts > #fairplayReward {
    font-size: 1.5em;
    text-shadow: 0 0 30px #fff;
    opacity: 1;
    letter-spacing: .13em;
    line-height: 0.1vh;
}

.fairplayReward-mainReward > .fairplayReward-Wrapper > .fairplayReward-Texts  > #fairplayMainText {
    opacity: .6;
    font-size: 1.5em;
}

.fairplayReward-mainReward > .fairplayReward-Wrapper > .fairplayReward-Texts > #fairplayRewardGet {
  opacity: .6;
  font-size: 1.3em;
  letter-spacing: .17em;
}

.fairplayReward-mainReward > .fairplayReward-Wrapper > .fairplayReward-Texts > #fairplayRewardExpire {
    font-size: 1em;
    letter-spacing: .17em;
}

/* job boost */

.fairplayReward-mainReward-JobBoost{
    position: absolute;
    width: 8%;
    height: 13%;
    bottom: 0vh;
    left: 70%;
    font-family: "Akrobat";
    font-weight: 700;
    background: linear-gradient(to top, #db3f44,  rgb(242 237 255 / 0%));
    padding: 1vh;
    will-change: bottom;
    z-index: -2;
    line-height: 0.7vh;
    animation: slideReward 2s;
    /* display: none; */
}

@keyframes slideReward {
    from {
        bottom: -25%;
    } to {
        bottom: 0;
    }
}

.fairplayReward-mainReward-JobBoost > .fairplayReward-Wrapper {
    width: 100%;
    height: 100%;

    /* background-image: url("https://imgur.com/cMVZLzP.png"); */
    background-size: 75% 100%;
    background-repeat: no-repeat;

    margin-top: 1vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fairplayReward-mainReward-JobBoost > .fairplayReward-Wrapper > img.fairplayReward-stars {
    position: absolute;
    left: 54%;
    width: 80%;
    bottom: 00%;
    transform: rotate(-11deg);
    z-index: -1;
}

.fairplayReward-mainReward-JobBoost > .fairplayReward-Wrapper > .fairplayReward-Texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #fff;
    margin-top: -2.5vh;
    font-weight: bold;
}

.fairplayReward-mainReward-JobBoost > .fairplayReward-Wrapper > .fairplayReward-Texts > p {
    color: #ffffff99;
    letter-spacing: .15vh;
    font-size: 1.6em;
}

.fairplayReward-mainReward-JobBoost > .fairplayReward-Wrapper > .fairplayReward-Texts > #fairplayReward-JobBoost {
    font-size: 1.2em;
    text-shadow: 0 0 30px #fff;
    opacity: 1;
    letter-spacing: .13em;
    line-height: 0.1vh;
    width: 150%;
}

.fairplayReward-mainReward-JobBoost > .fairplayReward-Wrapper > .fairplayReward-Texts  > #fairplayMainText {
    opacity: .6;
    font-size: 1.5em;
}

.fairplayReward-mainReward-JobBoost > .fairplayReward-Wrapper > .fairplayReward-Texts > #fairplayRewardGet {
  opacity: .6;
  font-size: 1.3em;
  letter-spacing: .17em;
}

.fairplayReward-mainReward-JobBoost > .fairplayReward-Wrapper > .fairplayReward-Texts > #fairplayRewardExpire {
    font-size: 1em;
    letter-spacing: .17em;
}

#fairplayReward-PayDayX2{display: none;}
#fairplayReward-50JobBoost{display: none;}

/* questuri */

.fairplayReward-DailyReward {
  position: absolute;
  right: 3%;
  
  width:100%;
  height:10%;
  top:15.5%;
  color: #fff;
  font-family:"Akrobat";
  animation: slide 2s;
  display: none;
}

@keyframes slide {
  from {
      right: -30%;
  } to {
      right: 3%;
  }
}

.fairplayReward-DailyReward > .fairplayReward-layoutReward {
  width:100%;
  height:100%;
  display:flex;
  flex-direction: column;
  gap:2.5vh
}

.fairplayReward-DailyReward > .fairplayReward-layoutReward > .fairplayReward-rewardWrapper {
  width:100%;
  height:100%;
  display:flex;
  align-items:center;
  justify-content:flex-end;
  padding: 0 1vw;
  gap:2.25vw
}
  
.fairplayReward-DailyReward > .fairplayReward-layoutReward > .fairplayReward-rewardWrapper > .fairplayReward-lineReward {
  opacity: .6;
  background: #fff;
  height:98%;
  width:.2%;
  border-radius:.25vw
}

.fairplayReward-DailyReward > .fairplayReward-layoutReward > .fairplayReward-rewardWrapper > i {
  font-size:8vh;
  text-shadow: 0 0 50px #ffffff99;
  transform: scaleX(-1);
}

.fairplayReward-DailyReward > .fairplayReward-layoutReward > .fairplayReward-rewardWrapper > .fairplayReward-data {
  height:65%;
  display:flex;
  flex-direction:column;
  gap:.5vh;
  text-align:right;
  justify-content:center
}
  
.fairplayReward-DailyReward > .fairplayReward-layoutReward > .fairplayReward-rewardWrapper > .fairplayReward-data > strong {
  font-size:2vh;
  letter-spacing:.125vh;
  margin-top: 1vh;
}
  
.fairplayReward-DailyReward > .fairplayReward-layoutReward > .fairplayReward-rewardWrapper > .fairplayReward-data > h1 {
  color:#fff;
  letter-spacing:.25vh;
  font-size:2.1vh
}
  
.fairplayReward-DailyReward > .fairplayReward-layoutReward > .fairplayReward-rewardWrapper > .fairplayReward-data > p {
  color:#ffffff85;
  font-weight:700;
  font-size:1.65vh;
  letter-spacing:.17em;
}

.fairplayReward-DailyReward > .fairplayReward-layoutReward > .fairplayReward-rewardWrapper > .fairplayReward-data > h1 > #fairplayRewardH {
  font-size:2.5vh;
  color: #db3f44;
  text-shadow: 0 0 40px #db3f4460;
}

.fairplayReward-DailyReward > .fairplayReward-layoutReward > .fairplayReward-rewardWrapper > .fairplayReward-data > span {
  color:#fff;
  letter-spacing:.25vh;
  margin-top: 1vh;
  font-weight: bold;
  font-size:1.1vh
}

.fairplayReward-DailyReward > .fairplayReward-layoutReward > .fairplayReward-rewardWrapper > .fairplayReward-data > span > b {
  color:#9fc9a6;  
}

.fairplayReward-DailyReward > .fairplayReward-layoutReward > .fairplayReward-tasks {
  width:100%;
  height:100%;
  display:flex;
  flex-direction: column;
  align-items:flex-end;
  padding: .5vh 1.5vw;
  /* gap: 1vh; */
}

.fairplayReward-DailyReward > .fairplayReward-layoutReward > .fairplayReward-tasks > .fairplayReward-itemReward {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.fairplayReward-DailyReward > .fairplayReward-layoutReward > .fairplayReward-tasks > .fairplayReward-itemReward > p {
  font-size: 1.15em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .1vh;
  color: #ffffff99;
  letter-spacing: 0.1em;
}

.fairplayReward-DailyReward > .fairplayReward-layoutReward > .fairplayReward-tasks > .fairplayReward-itemReward.completed > p {
  color: #fff;
}

.fairplayReward-DailyReward > .fairplayReward-layoutReward > .fairplayReward-tasks > .fairplayReward-itemReward.completed > .fairplayReward-circlesReward {
  background: #fff;
  border-color: #ffffff20;
}

.fairplayReward-DailyReward > .fairplayReward-layoutReward > .fairplayReward-tasks > .fairplayReward-itemReward > .fairplayReward-circlesReward {
  width: 1vw;
  height: 1.65vh;
  border-radius: 10vw;
  background-color: #db3f44;
  border: 2px solid #e7e7e7e7;
}

.fairplayReward-DailyReward > .fairplayReward-layoutReward > .fairplayReward-tasks > .fairplayReward-itemReward > .fairplayReward-circlesRewardW {
    width: 1vw;
    height: 1.65vh;
    border-radius: 10vw;
    background-color: #8adb3f;
    border: 2px solid #e7e7e7e7;
  }