.death-screen {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    font-family:"Akrobat";
    background:radial-gradient(50% 100% at 50% 50%,rgba(22,21,35,0) 0%,rgba(22,21,35,.95) 100%);
    z-index:2;
    display:none
    }
    
    .death-screen > .bg-blur {
    width:100%;
    height:100%;
    background-image:url(https://media.discordapp.net/attachments/1013920317128843355/1035272694905708634/gumita_rea.png);
    background-repeat:no-repeat;
    background-size:100% 100%
    }
    
    .death-screen > .timer-wrapper {
    width:40%;
    height:40%;
    top:65%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center
    }
    
    .death-screen > .timer-wrapper > b {
    font-size:4.5em;
    text-shadow:0 0 25px #fff;
    margin-top:20%
    }
    
    .death-screen > .timer-wrapper > h1 {
    font-weight:700;
    font-size:2.259em;
    text-shadow:0 0 20px #000
    }
    
    .death-screen > .timer-wrapper > p {
    margin-top:.5%;
    font-size:1.65em;
    font-weight:700;
    text-shadow:0 0 20px rgba(0,0,0,.250)
    }
    
    .death-screen > .timer-wrapper > .btn {
    background:#a3263d;
    width:40%;
    border-radius:10vw;
    display:flex;
    gap:6.5%;
    padding:2vh .5vh;
    text-align:center;
    justify-content:center;
    align-items:center;
    margin-top:5%;
    box-shadow:0 0 20px #a3263d;
    font-weight:700;
    font-size:1.25em;
    border:2px solid #a3263d;
    transition:1s
    }
    
    .death-screen > .timer-wrapper > .btn.locked {
    opacity:.5
    }
    
    .death-screen > .timer-wrapper > .btn:hover {
    cursor:pointer;
    background:#ffffff20;
    border:2px solid #ffffff10;
    box-shadow:0 0 20px #ffffff20
    }
    
    .death-screen > .hint {
    top:91.5%;
    width:22.5%;
    height:10%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    text-align:center
    }
    
    .death-screen > .hint > p {
    color:rgba(255,255,255,.5)
    }
    
    .death-screen > .hint > p > span {
    text-shadow:0 0 10px #fff;
    color:rgba(255,255,255,.550)
    }