@import "https://fonts.cdnfonts.com/css/akrobat";
body{overflow: hidden;}

#fairplayEasterShop {
    display: none;
}

#fairplayEasterShop *{
    box-sizing: revert !important;
    margin: revert !important;
}

.fairplayEasterShop-Backgrounds-BackgroundCLR {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://imgur.com/3d2LwXe.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.fairplayEasterShop-Backgrounds-Bunny {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://imgur.com/ackJqJ7.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.fairplayEasterEvent-MainMenu-Tasks > .fairplayEasterEvent-MainMenu-Tasks-Box > .fairplayEasterEvent-MainMenu-Tasks-Texts > h1 {
    color: #fff;
    font-family: 'Akrobat';
    letter-spacing: .08em;
}

.fairplayEasterEvent-MainMenu-Tasks > .fairplayEasterEvent-MainMenu-Tasks-Box > .fairplayEasterEvent-MainMenu-Tasks-Texts > p {
    color: #fff;
    font-family: 'Akrobat';
    font-size: 1.3em;
}

.fairplayEasterEvent-MainMenu-Tasks > .fairplayEasterEvent-MainMenu-Tasks-Box > .fairplayEasterEvent-MainMenu-Tasks-Texts > span > a {
    color: #fff;
    font-family: 'Akrobat';
    font-size: 1.3em;
    background-color:rgb(209, 178, 0);
    padding: .5vh 1vh;
    border-radius: 10vw;
    letter-spacing: .08em;
    font-weight: bold;
    transition: .5s all;
}

.fairplayEasterEvent-MainMenu-Tasks > .fairplayEasterEvent-MainMenu-Tasks-Box > .fairplayEasterEvent-MainMenu-Tasks-Texts > span > a:hover {
    opacity: 70%;
    cursor: pointer;
    box-shadow: 0 0 0 3px rgba(255, 217, 0, 0.25);
}

.fairplayEasterEvent-MainMenu-Tasks {
    width: 45%;
    height: 74.5%;
    display: flex;
    flex-direction: column;
    gap: 1.7vh;
    z-index: 4;

    position: absolute;
    top: 55%;
    left: 32%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: .7em;
    overflow: auto;
}

.fairplayEasterEvent-MainMenu-Tasks > .fairplayEasterEvent-MainMenu-Tasks-Box {
    height: 35vh;
    width: 85%;
    box-shadow: 0 0 0 3px #ffffff20 inset;
    border-radius: .50vw;
    display: flex;
    gap: 1vw;
    align-items: center;
    padding: 1vh 3vw;
}

.fairplayEasterEvent-MainMenu-Tasks > .fairplayEasterEvent-MainMenu-Tasks-Box  > img {
    height: 90%;
    width: 30%;
    margin-right: 1vh;
}

.fairplayEasterEvent-MainMenu-Tasks > .fairplayEasterEvent-MainMenu-Tasks-Box > .fairplayEasterEvent-MainMenu-Tasks-Texts > p {
    font-weight: 100;
    letter-spacing: .13em;
}

::-webkit-scrollbar {
    width: .3vw;
    background-color: #ffffff40;
    box-shadow: 0 0 0 2px #ffffff20;
    border-radius: 10vw;
}
 
::-webkit-scrollbar-thumb {
  background: rgba(0, 255, 255, 0.486); 
  border-radius: 10vw;
}

.fairplayEasterEvent-MainMenu-Texts > .fairplayEasterEvent-MainMenu-Texts-Header {
    position: absolute;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    right: 35%;
    letter-spacing: .13em;
    transition: .5s all;
    font-size: 1.2em;
    font-family: 'Akrobat';
    font-weight: bold;
    color: #fff;
    animation: anim 1s linear;
}

@keyframes anim {
    from {
        margin-top: -10vw;
    }
    to {
        margin-top: 0;
    }
}

.fairplayEasterEvent-MainMenu-Texts > .fairplayEasterEvent-MainMenu-Texts-Header > p {
    transition: .5s all;
    border-radius: 10vw;
    padding: 1vh 1.5vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    color: #000;
    background-color: #fff;
}

.fairplayEasterEvent-MainMenu-Texts > .fairplayEasterEvent-MainMenu-Texts-Header > p:hover {
    color: #fff;
    background-color: #000;
    cursor: pointer;
    scale: 1.05;
}

.fairplayEasterEvent-MainMenu-Texts > .fairplayEasterEvent-MainMenu-Texts-Header > p > i {
    font-size: 1.6em;
    margin: .2vh;
}

.fairplayEasterEvent-MainMenu-Texts > .fairplayEasterEvent-MainMenu-Texts-Header > .fairplayEasterEvent-MainMenu-Texts-Buttons {
    display: flex;
}

.fairplayEasterEvent-MainMenu-Texts > .fairplayEasterEvent-MainMenu-Texts-Header > .fairplayEasterEvent-MainMenu-Texts-Buttons > p {
    position: relative;
    width: 60%;
    font-size: .6em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.fairplayEasterEvent-MainMenu-Texts > .fairplayEasterEvent-MainMenu-Texts-Header > .fairplayEasterEvent-MainMenu-Texts-Buttons > p > a {
    position: relative;
    width: 53%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-content: center;
    font-size: 1.1em;
    margin: 1vh 1.8vh;
    background-color: #fff;
    color: #000;
    padding: 1.5vh 1.8vh;
    border-radius: 10vw;
    transition: .5s all;
    scale: 1;
}

.fairplayEasterEvent-MainMenu-Texts > .fairplayEasterEvent-MainMenu-Texts-Header > .fairplayEasterEvent-MainMenu-Texts-Buttons > p > a > i {
    font-size: 1.3em;
}

.fairplayEasterEvent-MainMenu-Texts > .fairplayEasterEvent-MainMenu-Texts-Header > .fairplayEasterEvent-MainMenu-Texts-Buttons > p > a:hover {
    background-color: #000;
    color: #fff;
    cursor: pointer;
    scale: .95;
}

.fairplayEasterEvent-MainMenu-Texts > .fairplayEasterEvent-MainMenu-Texts-Header > .fairplayEasterEvent-MainMenu-Texts-Balance {
    position: relative;
    right: 7vw;
}