.factioncalls-layout {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:radial-gradient(50% 100% at 50% 50%,rgba(0,0,0,0) 0%,rgba(0,0,0,.75) 100%);
    font-family:"Poppins";
    display:none
    }
    
    .factioncalls-layout > .calls-menu {
    width:75%;
    height:80%;
    transition:1s;
    border-radius:1vw;
    background:#22242a;
    border:2px solid #ffffff10;
    box-shadow:inset 0 0 10px #ffffff10;
    display:flex;
    flex-direction:column;
    gap:2.5%
    }
    
    .factioncalls-layout > .calls-menu > header {
    display:flex;
    align-items:center;
    justify-content:center;
    height:15%;
    border-bottom:2px solid #ffffff20;
    border-radius:.25vw
    }
    
    .factioncalls-layout > .calls-menu > header > img {
    width:20%;
    margin-left:1vw;
    margin-right:auto
    }
    
    .factioncalls-layout > .calls-menu > header > .menu-choices {
    display:flex;
    align-items:center;
    justify-content:flex-start;
    gap:5%;
    width:100%;
    height:70%;
    text-align:center;
    margin-right:auto;
    margin-left:1.25vw
    }
    
    .factioncalls-layout > .calls-menu > header > .menu-choices > p {
    padding:2vh 3vw;
    background:#202128;
    border-radius:.35vw;
    transition:1s
    }
    
    .factioncalls-layout > .calls-menu > header > .menu-choices > p.selected {
    background:#38393f
    }
    
    .factioncalls-layout > .calls-menu > header > .menu-choices > p:hover {
    background:#ffffff20
    }
    
    .factioncalls-layout > .calls-menu > header > .menu-choices > p:not(.back):hover {
    cursor:pointer
    }
    
    .factioncalls-layout > .calls-menu > header > .menu-choices > p.back {
    margin-left:auto;
    margin-right:2.5vw;
    padding:2vh 2vw
    }
    
    .factioncalls-layout > .calls-menu > .menu-page {
    height:80%;
    width:98%;
    align-self:center;
    overflow:hidden
    }
    
    .factioncalls-layout > .calls-menu > .menu-page > .calls-page::-webkit-scrollbar {
    display:none
    }
    
    .factioncalls-layout > .calls-menu > .menu-page > .calls-page {
    width:100%;
    height:100%;
    padding:1vh;
    overflow-y:scroll
    }
    
    .factioncalls-layout > .calls-menu > .menu-page > .history-page {
    width:100%;
    height:100%;
    overflow-y:scroll
    }
    
    .factioncalls-layout > .calls-menu > .menu-page > .calls-page > .calls-wrapper {
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    gap:3.5%
    }
    
    .factioncalls-layout > .calls-menu > .menu-page > .calls-page > .calls-wrapper > .call {
    background:#1c1d24;
    padding:2vh 1vh 2.5vh;
    border-radius:.25vw;
    box-shadow:0 0 10px #00000020;
    display:flex;
    flex-direction:column;
    gap:1.5%
    }
    
    .factioncalls-layout > .calls-menu > .menu-page > .calls-page > .calls-wrapper > .call > header {
    display:flex;
    gap:5%;
    align-items:center
    }
    
    .factioncalls-layout > .calls-menu > .menu-page > .calls-page > .calls-wrapper > .call > header > p {
    margin-left:auto;
    margin-right:2.5%;
    background:#ffffff08;
    padding:1.25vh 2vh;
    border-radius:.25vw;
    font-family:"Akrobat";
    font-size:.85em;
    opacity:.5
    }
    
    .factioncalls-layout > .calls-menu > .menu-page > .calls-page > .calls-wrapper > .call > header > .caller-data {
    display:flex;
    flex-direction:column;
    gap:1%;
    margin-left:2.5%;
    text-align:left
    }
    
    .factioncalls-layout > .calls-menu > .menu-page > .calls-page > .calls-wrapper > .call > header > .caller-data > h1 {
    font-size:1em;
    font-weight:400
    }
    
    .factioncalls-layout > .calls-menu > .menu-page > .calls-page > .calls-wrapper > .call > .btns {
    display:flex;
    margin-top:7%;
    gap:5%;
    height:100%;
    align-items:center;
    justify-content:center
    }
    
    .factioncalls-layout > .calls-menu > .menu-page > .calls-page > .calls-wrapper > .call > .btns > i {
    padding:1.5vh 1.65vh;
    border-radius:50%;
    background:#ffffff20;
    transition:1s
    }
    
    .factioncalls-layout > .calls-menu > .menu-page > .calls-page > .calls-wrapper > .call > .btns > i:hover {
    background:#22242a
    }
    
    .factioncalls-layout > .calls-menu > .menu-page > .history-page::-webkit-scrollbar-track {
    background-color:#ffffff05
    }
    
    .factioncalls-layout > .calls-menu > .menu-page > .history-page::-webkit-scrollbar {
    width:.3vw;
    border-radius:.25vw
    }
    
    .factioncalls-layout > .calls-menu > .menu-page > .history-page::-webkit-scrollbar-thumb {
    background-color:#ffffff20
    }
    
    .factioncalls-layout > .calls-menu > .menu-page > .history-page > .history-wrapper {
    display:flex;
    flex-direction:column;
    gap:2.5%;
    padding:0 1vw
    }
    
    .factioncalls-layout > .calls-menu > .menu-page > .history-page > .history-wrapper > .log {
    background:#1c1d24;
    border-radius:.25vw;
    width:100%;
    height:6.5vh;
    margin-top:1vh;
    display:inline-flex;
    align-items:center;
    padding:0 1.5vw;
    gap:1.5%
    }
    
    .factioncalls-layout > .calls-menu > .menu-page > .history-page > .history-wrapper > .log > i {
    background:#ffffff10;
    padding:1vh;
    border-radius:.25vw
    }
    
    .factioncalls-layout > .calls-menu > .menu-page > .history-page > .history-wrapper > .log > span {
    margin-left:auto;
    margin-right:1.5%;
    text-align:right
    }
    
    .factioncalls-layout > .calls-menu > .menu-page > .calls-page > .calls-wrapper > .call > header > .caller-data > h1 > i,.factioncalls-layout > .calls-menu > .menu-page > .calls-page > .calls-wrapper > .call > header > .caller-data > p > i,.factioncalls-layout > .calls-menu > .menu-page > .history-page > .history-wrapper > .log > span > i {
    opacity:.5
    }