
/* Garage System */

.garage-wrapper {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-image:url(https://cdn.fairplay-rp.ro/recovery/4-9.jpg.png);
    background-repeat:no-repeat;
    background-size:100% 100%;
    font-family:"Akrobat";
    display:none
    }
    
    .garage-wrapper > header {
    width:90%;
    height:25%;
    top:20%;
    color:#fff;
    padding:1vh;
    display:flex;
    flex-direction:column;
    gap:5%
    }
    
    .garage-wrapper > header .title {
    display:flex;
    gap:2.5%;
    width:90%;
    align-items:center
    }
    
    .garage-wrapper > header .title > h1 {
    font-size:4.15em;
    font-weight:600;
    letter-spacing:.09vw
    }
    
    .garage-wrapper > header .title > p {
    background:#2277fa60;
    padding:1vw 1.5vw;
    border-radius:1.5vw;
    font-size:1.25em;
    font-weight:600
    }
    
    .garage-wrapper > header .search-layout {
    display:flex;
    gap:2.5%;
    height:35%;
    width:90%;
    align-items:center
    }
    
    .garage-wrapper > header .search-layout > .search-bar {
    background:#2d2c3a60;
    height:80%;
    width:42%;
    border-radius:5vw;
    padding:0 1vh;
    display:inline-flex;
    align-items:center
    }
    
    .garage-wrapper > header .search-layout > .search-bar > input {
    margin-left:5%;
    background:none;
    border:none;
    font-size:1.5em;
    color:#fff;
    width:80%
    }
    
    .garage-wrapper > header .search-layout > .search-bar > input:focus {
    outline:none
    }
    
    .garage-wrapper > header .search-layout > .search-bar > i {
    margin-left:auto;
    margin-right:5%;
    font-size:1.5em
    }
    
    .garage-wrapper > header .search-layout > .park-vehicle {
    background:#ffffff10;
    border-radius:5vw;
    padding:2vh 4.5vw;
    display:inline-flex;
    align-items:center;
    color:rgba(255,255,255,.5);
    border: 1px solid #ffffff50;
    transition:1s
    }
    
    .garage-wrapper > header .search-layout > .park-vehicle:hover {
        opacity: .7;
    }
    
    .garage-wrapper .vehicles-container {
    cursor:none;
    top:60%;
    height:58%;
    overflow-y:scroll;
    overflow-x:hidden;
    padding:0 1.5vh
    }
    
    .garage-wrapper .vehicles-container::-webkit-scrollbar {
    width:.5vw
    }
    
    .garage-wrapper .vehicles-container::-webkit-scrollbar-track {
    border-radius:.25vw;
    background:#2277fa02
    }
    
    .garage-wrapper .vehicles-container::-webkit-scrollbar-thumb {
    border-radius:10px;
    background:#2277fa06
    }
    
    .garage-wrapper .vehicles-container > .vehicles-wrapper {
    display:grid;
    grid-template-columns:repeat(3,1fr);
    grid-gap:1vh 1vw
    }
    
    .garage-wrapper .vehicles-container > .vehicles-wrapper > .item {
    display:flex;
    flex-direction:inline;
    gap: 3vh;
    width:29vw;
    height:28.5vh;
    background:linear-gradient(to top,transparent,#ffffff15);
    border-radius:.87vw;
    border:2px solid #ffffff50;
    transition:1.5s;
    align-items:center;
    text-align:center
    }
        
    .garage-wrapper .vehicles-container > .vehicles-wrapper > .item > img {
        margin-left: 3vh;
        width:45%;
        max-width:50%
    }

    .garage-wrapper .vehicles-container > .vehicles-wrapper > .item > .vehicle-data {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .garage-wrapper .vehicles-container > .vehicles-wrapper > .item > .vehicle-data > h1 {
    font-size:1.55em;
    font-family:"Smooch Sans";
    text-align:center
    }
    
    .garage-wrapper .vehicles-container > .vehicles-wrapper > .item > .vehicle-data > h1 > i {
    font-size:.8em;
    color:#d16767
    }

    
    .garage-wrapper .vehicles-container > .vehicles-wrapper > .item > .vehicle-data > .veh-info-min {
        display:inline-flex;
        align-items:center;
        justify-content:center;
        margin-top:3%;
        width:100%;
        gap:1vh;
    }

    
    .garage-wrapper .vehicles-container > .vehicles-wrapper > .item > .vehicle-data > .spawn-button {
        margin-top: 2rem;
        padding: 1vh;
        border: 1px solid #ffffff50;
        border-radius: 1vw;
        width: 10rem;
        transition: 1s all;
    }

    .garage-wrapper .vehicles-container > .vehicles-wrapper > .item > .vehicle-data > .spawn-button:hover {
        background:linear-gradient(to top,transparent,#ffffff15);
        transition: 1s all;
    }
    
    .garage-wrapper .vehicles-container > .vehicles-wrapper > .item > .vehicle-data > .veh-info-min > p {
    opacity:.5;
    }