.gunshop-menu {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100vh;
    background:rgba(0,0,0,.712);
    cursor:none;
    display:none
    }
    
    .gunshop-menu > .gunshop-layout > .title-wrapper {
    top:25%;
    display:inline-flex;
    background:#ffffff15;
    border:2px solid #ffffff30;
    border-radius:.55vw;
    padding:1vh;
    width:50%;
    text-align:center;
    align-items:center;
    font-size:1em;
    gap:2.5%;
    font-family:"Akrobat";
    transition:.5s
    }
    
    .gunshop-menu > .gunshop-layout > .title-wrapper:hover {
    background:#ffffff30;
    transition:1s
    }
    
    .gunshop-menu > .gunshop-layout > .title-wrapper > i {
    margin-left:auto;
    font-size:1.55em;
    margin-right:.5%;
    padding:1vh;
    background:#ffffff10;
    border-radius:.25vw;
    border:2px solid #ffffff05
    }
    
    .gunshop-menu > .gunshop-layout > .title-wrapper > p {
    opacity:.8;
    font-size:1.5em;
    font-weight:600;
    margin-left:1.5%
    }
    
    .gunshop-menu > .gunshop-layout > .items-wrapper {
    top:63.5%;
    width:55%;
    height:60%;
    padding:.9vh .5vw
    }
    
    .gunshop-menu > .gunshop-layout > .items-wrapper > .items-layout {
    display:grid;
    grid-template-columns:0fr 0fr 0fr 0fr 0fr;
    gap:1.5%;
    height:42vh;
    overflow-y:scroll;
    overflow-x:hidden
    }
    
    .gunshop-menu > .gunshop-layout > .items-wrapper > .items-layout::-webkit-scrollbar-track {
    border-radius:.25vw
    }
    
    .gunshop-menu > .gunshop-layout > .items-wrapper > .items-layout::-webkit-scrollbar {
    width:.35vw
    }
    
    .gunshop-menu > .gunshop-layout > .items-wrapper > .items-layout::-webkit-scrollbar-thumb {
    border-radius:.25vw;
    background-color:#ffffff06
    }
    
    .gunshop-menu > .gunshop-layout > .items-wrapper > .items-layout > .item {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    height:20vh;
    width:10vw;
    background-color:rgba(255,255,255,.0712);
    padding:2vh;
    gap:2.5%;
    border:2px solid #ffffff10;
    border-radius:.25vw;
    font-family:"Akrobat";
    transition:1s
    }
    
    .gunshop-menu > .gunshop-layout > .items-wrapper > .items-layout > .item:hover {
    background:#00000020;
    border-color:#ffffff10;
    transition:1s
    }
    
    .gunshop-menu > .gunshop-layout > .items-wrapper > .items-layout > .item > img {
    width:60%;
    margin-bottom:1.5vh
    }
    
    .gunshop-menu > .gunshop-layout > .items-wrapper > .items-layout > .item > p {
    padding:.85vh 0
    }
    
    .gunshop-menu > .gunshop-layout > .items-wrapper > .items-layout > .item > p:not(.price) {
    font-size:1.5em
    }
    
    .gunshop-menu > .gunshop-layout > .items-wrapper > .items-layout > .item > p.price {
    background:#2277fa45;
    width:100%;
    border-radius:.15vw;
    transition:1s
    }
    
    .gunshop-menu > .gunshop-layout > .items-wrapper > .items-layout > .item > p.price:hover {
    background:#2277fa60;
    transition:.5s
    }