.action-hint {
  width:100%;
  height:20%;
  top:12.5%;
  font-family:"Akrobat";
  display:none;
  animation: showHint .65s;
}

@keyframes showHint{
    from {
        top: -10%;
    } to {
        top: 12.5%;
    }
}

.action-hint > .wrapper {
  width:100%;
  height:100%;
  display:flex;
  align-items:center;
  justify-content:center;
  gap:2.25vw;
}

.action-hint > .wrapper > .line {
  background:#ffffff40;
  height:65%;
  width:.13%;
  border-radius:.25vw
}

.action-hint > .wrapper > h1{
  font-size: 11vh;
  font-family: "Akrobat ExtraBold";
}

.action-hint > .wrapper > .data-block {
  height:65%;
  display:flex;
  flex-direction:column;
  gap:.5vh;
  text-align:left;
  justify-content:center;
}

.action-hint > .wrapper > .data-block > p {
  color:#ffffff85;
  font-weight:700;
  font-size:1.65vh;
  letter-spacing:.05vh;
}

.action-hint > .wrapper > .data-block > strong {
  font-size:2.85vh;
  font-family: "Akrobat ExtraBold";
}
