.investment-system {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-image:url(https://cdn.fairplay-rp.ro/recovery/GTA5_8PI22RY8RC-1_cop232323y.jpg);
    background-repeat:no-repeat;
    background-size:100% 100%;
    display:flex;
    flex-direction:column;
    gap:3vw;
    align-items:center;
    justify-content:center;
    font-family:"Akrobat";
    font-weight:600;
    box-shadow:inset 0 0 100vw rgba(0,0,0,.98)
    }
    
    .investment-system .investitii {
    margin-top:3rem;
    width:70%;
    height:70%;
    display:flex;
    flex-direction:column;
    gap:1vw;
    padding:0 1.2vh;
    overflow-y:scroll;
    overflow-x:hidden
    }
    
    .investment-system .investitii::-webkit-scrollbar {
    width:7px
    }
    
    .investment-system .investitii::-webkit-scrollbar-track {
    box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
    background-color:#83808063
    }
    
    .investment-system .investitii::-webkit-scrollbar-thumb {
    background-color:#0000009d
    }
    
    .investment-system .investitii .investiti-box {
    width:100%;
    height:20.6vh;
    background:#00000030;
    border-radius:.35vw;
    display:flex;
    justify-content:space-between;
    align-items:center
    }
    
    .investment-system .investitii .investiti-box .investiti-data {
    width:auto;
    height:auto;
    display:inline-flex;
    gap:2vh;
    justify-content:center;
    align-items:center
    }
    
    .investment-system .investitii .investiti-box .investiti-data .investiti-img {
    width:21vh;
    height:20.6vh
    }
    
    .investment-system .investitii .investiti-box .investiti-data .investiti-img img {
    max-width:100%;
    max-height:100%
    }
    
    .investment-system .investitii .investiti-box .investiti-data .invest-info {
    display:flex;
    flex-direction:column;
    align-items:left;
    justify-content:left;
    gap:1vh;
    font-size:1.2rem
    }
    
    .investment-system .investitii .investiti-box .investiti-data .invest-info #investitie-title {
    text-transform:uppercase
    }
    
    .investment-system .investitii .investiti-box .investiti-data .invest-info .duration {
    display:inline-flex;
    justify-content:left;
    align-items:left;
    gap:.8vh
    }
    
    .investment-system .investitii .investiti-box .investiti-data .invest-info .duration #durata {
    text-transform:uppercase;
    opacity:.7;
    letter-spacing:.2vh
    }
    
    .investment-system .investitii .investiti-box .investitii-info {
    margin-right:10vh;
    display:inline-flex;
    gap:7vh;
    align-items:center;
    justify-content:center
    }
    
    .investment-system .investitii .investiti-box .investitii-info .invest-profit {
    width:auto;
    height:auto;
    display:flex;
    justify-content:right;
    align-items:right;
    flex-direction:column;
    gap:.3vh;
    font-size:1.1rem
    }
    
    .investment-system .investitii .investiti-box .investitii-info .invest-profit .suma-invest {
    font-size:2rem
    }
    
    .investment-system .investitii .investiti-box .investitii-info .invest-profit .profit-number {
    margin-top:1vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:.5vh 1vh;
    border-radius:1vw;
    background:#98cb4d
    }
    
    .investment-system .investitii .investiti-box .investitii-info .invest-button {
    margin-left:1rem;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:1.2vh 2vh;
    border-radius:2vw;
    transition:1s all;
    border:3px solid #c9c048
    }
    
    .investment-system .investitii .investiti-box .investitii-info .invest-button:hover {
    background-color:#c9c04880;
    transition:1s all
    }
    
    .investment-system .active-invest {
    display:flex;
    flex-direction:column;
    justify-content:left;
    align-items:left;
    gap:1vh
    }
    
    .investment-system .active-invest .active-invest-title {
    text-transform:uppercase;
    font-size:1.2rem
    }
    
    .investment-system .active-invest .active-invest-time {
    text-transform:uppercase;
    font-size:1.3rem
    }
    
    .investment-system .active-invest .active-invest-money {
    width:30%;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:.5vh;
    border-radius:1vw;
    background:#98cb4d
    }