.moneywash-layout {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-image:url("https://cdn.fairplay-rp.ro/recovery/unknown (14).png");
    background-repeat:no-repeat;
    background-size:100% 100%;
    font-family:"Akrobat";
    display:none
    }
    
    .moneywash-layout > .wrapper {
    width:80%;
    height:80%;
    display:flex;
    align-items:center;
    justify-content:center
    }
    
    .moneywash-layout > .wrapper > .side-data {
    background:url("https://cdn.fairplay-rp.ro/recovery/unknown (13).png");
    background-repeat:no-repeat;
    background-size:auto 85%;
    width:20%;
    height:65%;
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
    margin-top:3.5%;
    gap:5.5%
    }
    
    .moneywash-layout > .wrapper > .side-data > h1 {
    margin-top:30%;
    color:#d85eaf;
    font-size:1.45em;
    letter-spacing:.15em
    }
    
    .moneywash-layout > .wrapper > .side-data > .text-box {
    display:flex;
    flex-direction:column;
    gap:1.25vh
    }
    
    .moneywash-layout > .wrapper > .side-data > .text-box:nth-child(3) {
    margin-top:.5vh
    }
    
    .moneywash-layout > .wrapper > .side-data > .text-box > p {
    opacity:.5;
    font-weight:700;
    font-size:1.05em;
    letter-spacing:.5vh
    }
    
    .moneywash-layout > .wrapper > .side-data > .text-box > p:nth-of-type(2) {
    font-size:.85em;
    letter-spacing:.165vh;
    font-weight:500;
    opacity:.4
    }
    
    .moneywash-layout > .wrapper > .side-data > .text-box > span {
    text-shadow:0 0 20px #000;
    font-weight:700;
    font-size:1.05em;
    letter-spacing:.35vh
    }
    
    .moneywash-layout > .wrapper > .main-data {
    background:url("https://cdn.fairplay-rp.ro/recovery/unknown (12).png");
    background-repeat:no-repeat;
    background-size:100% 100%;
    width:70%;
    height:80%;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    padding:9vh 5vw;
    gap:10%
    }
    
    .moneywash-layout > .wrapper > .main-data > h1 {
    font-size:2.5em;
    font-weight:700;
    letter-spacing:.3vh
    }
    
    .moneywash-layout > .wrapper > .main-data > .biz-description {
    display:flex;
    flex-direction:column;
    gap:.025vh
    }
    
    .moneywash-layout > .wrapper > .main-data > .biz-description > p {
    font-weight:700;
    font-size:1.25em;
    letter-spacing:.25vh
    }
    
    .moneywash-layout > .wrapper > .main-data > .biz-description > span:nth-of-type(1) {
    margin-top:1.5vh
    }
    
    .moneywash-layout > .wrapper > .main-data > .biz-description > span {
    opacity:.65;
    font-size:1.5em;
    letter-spacing:.25vh;
    width:90%
    }
    
    .moneywash-layout > .wrapper > .main-data > .biz-actions {
    display:flex;
    gap:1vw;
    margin-top:auto
    }
    
    .moneywash-layout > .wrapper > .main-data > .biz-actions > p {
    background:#ffffff20;
    border-radius:.25vw;
    padding:2.25vh 3.5vw;
    font-size:1.5em;
    font-weight:700;
    transition:1s
    }
    
    .moneywash-layout > .wrapper > .main-data > .biz-actions > p:nth-of-type(2) {
    padding:2.25vh 2.5vw
    }
    
    .moneywash-layout > .wrapper > .main-data > .biz-actions > p:hover {
    box-shadow:0 0 40px rgb(0, 0, 0, .25);
    background:#ffffff40
    }
    
    .moneywash-layout > .wrapper > img {
    position:absolute
    }
    
    .moneywash-layout > .wrapper > img:nth-of-type(1) {
    width:46vw;
    height:98%;
    margin-left:25%;
    z-index:-1
    }
    
    .moneywash-layout > .wrapper > img:nth-of-type(2) {
    width:auto;
    height:97%;
    margin-left:75.5%
    }