.panel-reminder-layout {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-image:url("https://cdn.fairplay-rp.ro/recovery/unknown (10).png");
    background-color:rgba(0,0,0,.69);
    background-repeat:no-repeat;
    background-size:100% 100%;
    font-family:"Akrobat";
    display:none
    }
    
    .panel-reminder-layout > .second-bg {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-image:url("https://cdn.fairplay-rp.ro/recovery/unknown (9).png");
    background-color:rgba(0,0,0,.69);
    background-repeat:no-repeat;
    background-size:100% 100%
    }
    
    .panel-reminder-layout > .cover-bg {
    width:65%
    }
    
    .panel-reminder-layout > .character-first {
    width:23.5%;
    margin-left:15%
    }
    
    .panel-reminder-layout > .smoke-top-left {
    position:absolute;
    width:93.5%;
    top:0;
    left:0
    }
    
    .panel-reminder-layout > .smoke-bottom-left {
    position:absolute;
    width:100px;
    bottom:0;
    left:0
    }
    
    .panel-reminder-layout > .cover-box {
    width:60%;
    height:65%;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    padding:6vh 1.5vw;
    gap:5%
    }
    
    .panel-reminder-layout > .cover-box > h1 {
    font-size:2.75em;
    font-weight:700;
    letter-spacing:.5vh;
    margin-left:.35vw
    }
    
    .panel-reminder-layout > .cover-box > p {
    text-transform:uppercase;
    font-size:1.85em;
    font-weight:600;
    letter-spacing:.25vh;
    margin-left:.35vw;
    opacity:.5;
    text-shadow:0 0 10px rgba(0,0,0,.85);
    width:55%
    }
    
    .panel-reminder-layout > .cover-box > span {
    opacity:.5;
    text-transform:uppercase;
    font-size:1.25em;
    text-decoration:underline;
    text-underline-offset:.35rem;
    letter-spacing:.25vh;
    transition:1s;
    text-align:center;
    margin-left:.35vw
    }
    
    .panel-reminder-layout > .cover-box > span:hover {
    opacity:1;
    letter-spacing:.325vh;
    font-weight:0 0 10px #000;
    cursor:default
    }
    
    .panel-reminder-layout > .cover-box > .code-box {
    width:40%;
    height:18%;
    display:flex;
    align-items:center;
    justify-content:center;
    background:#ffffff15;
    border-radius:.35vw;
    outline:2px solid #ffffff30;
    padding:1vh 2.5vw
    }
    
    .panel-reminder-layout > .cover-box > .code-box > .text {
    display:flex;
    flex-direction:column;
    gap:0;
    text-align:left;
    align-items:flex-start
    }
    
    .panel-reminder-layout > .cover-box > .code-box > .text > p {
    font-size:3em;
    letter-spacing:1.5vh;
    text-align:center
    }
    
    .panel-reminder-layout > .cover-box > .code-box > .text > span {
    font-size:.95em;
    letter-spacing:.35vh;
    opacity:.5
    }
    
    .panel-reminder-layout > .cover-box > .code-box > i {
    margin-left:auto;
    font-size:1.5em;
    padding:1.25vh;
    border:2px solid rgba(255,255,255,.2);
    border-radius:.25vw;
    color:rgba(255,255,255,.5);
    width:16.5%;
    transition:1s
    }
    
    .panel-reminder-layout > .cover-box > .code-box > i:hover {
    background:#6e8adf60
    }
    
    .panel-reminder-layout > .help-panel {
    width:20%;
    height:25%;
    margin-left:33.5%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:1vh;
    text-align:center;
    margin-top:19vh
    }
    
    .panel-reminder-layout > .help-panel > p {
    font-size:1.95em;
    font-weight:700;
    letter-spacing:.1vh
    }
    
    .panel-reminder-layout > .help-panel > span {
    opacity:.6;
    letter-spacing:.025vh
    }
    
    .panel-reminder-layout > .help-panel > strong {
    margin-top:2vh;
    padding:2vh 3vw;
    background:#f43d57;
    border-radius:.35vw;
    font-size:1.25em;
    box-shadow:0 0 20px #f43d57;
    transition:1s
    }
    
    .panel-reminder-layout > .help-panel > strong:hover {
    opacity:.5
    }