.procesare-layout {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-image:url("https://cdn.fairplay-rp.ro/recovery/unknown (8).png");
    background-repeat:no-repeat;
    background-size:100% 100%;
    font-family:Akrobat;
    box-shadow:rgba(0,0,0,0.98) 0 0 100vw inset;
    display:none
    }
    
    .procesare-layout > .bg-blur {
    width:100%;
    height:100%;
    background-image:url(https://imgur.com/MhuFQ1j.png);
    background-color:rgba(0,0,0,0.404);
    background-repeat:no-repeat;
    background-size:100% 100%
    }
    
    .procesare-layout > header {
    width:60%;
    height:23.5%;
    left:35%;
    top:29%;
    display:flex;
    align-items:center;
    gap:2.5%;
    padding:1vh
    }
    
    .procesare-layout > header > .icons {
    padding:1vh;
    display:flex;
    gap:.5%
    }
    
    .procesare-layout > header > .icons > i:nth-child(1) {
    margin-top:5vh;
    font-size:3.5em;
    transform:rotate(300deg)
    }
    
    .procesare-layout > header > .icons > i:nth-child(2) {
    font-size:6.5em;
    opacity:.7;
    text-shadow:#000 0 0 20px
    }
    
    .procesare-layout > header > .titles {
    display:flex;
    flex-direction:column;
    text-align:left;
    font-size:2.5em
    }
    
    .procesare-layout > header > .titles > b {
    letter-spacing:.1vh;
    text-shadow:#000 0 0 20px
    }
    
    .procesare-layout > header > .scope {
    padding:2vh;
    border:2.5px solid rgba(255,255,255,0.125);
    margin-left:1vw;
    border-radius:.25vw;
    font-size:1.5em;
    font-weight:700;
    background:rgba(255,255,255,0.03);
    transition:all 1s ease 0s
    }
    
    .procesare-layout > header > .scope:hover {
    background:rgba(255,255,255,0.25)
    }
    
    .procesare-layout > .needed-items {
    width:40%;
    height:57%;
    left:28.25%;
    top:65.5%;
    overflow:hidden scroll
    }
    
    .procesare-layout > .needed-items > .items-wrapper {
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    gap:2.5% 1.5%;
    padding:1.5vh
    }
    
    .procesare-layout > .needed-items > .items-wrapper > .item {
    height:16vh;
    width:8.5vw;
    border-left:.15vh solid rgba(169,169,169,0.6);
    border-bottom:.15vh solid rgba(169,169,169,0.6);
    border-top:.15vh solid rgba(169,169,169,0.6);
    transform:rotate(-90deg);
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    transition:all 1s ease 0s
    }
    
    .procesare-layout > .needed-items > .items-wrapper > .item:hover {
    background:rgba(255,255,255,0.082)
    }
    
    .procesare-layout > .needed-items > .items-wrapper > .item * {
    transform:rotate(90deg)
    }
    
    .procesare-layout > .needed-items > .items-wrapper > .item > .item-amount {
    position:absolute;
    right:-.9vh;
    top:5.25vh;
    font-size:1.5vh;
    width:2.3vh;
    height:2vh;
    overflow:hidden
    }
    
    .procesare-layout > .needed-items > .items-wrapper > .item > img {
    position:absolute;
    width:55%;
    height:55%;
    right:12.5%
    }
    
    .procesare-layout > .needed-items > .items-wrapper > .item > p {
    position:absolute;
    margin-right:70%;
    width:100%;
    text-align:center;
    opacity:.5
    }
    
    .procesare-layout > .needed-items > .items-wrapper > .item::before {
    content:"";
    position:absolute;
    right:0;
    border-right:.25vh solid rgba(169,169,169,0.6);
    bottom:0;
    height:50%
    }
    
    .procesare-layout > .needed-items > .items-wrapper > .item::after {
    content:"";
    height:20%;
    position:absolute;
    right:0;
    top:0;
    border-right:.15vh solid rgba(169,169,169,0.6)
    }
    
    .procesare-layout > .needed-items::-webkit-scrollbar-track {
    background:linear-gradient(to top,transparent,rgba(255,255,255,0.02))
    }
    
    .procesare-layout > .needed-items::-webkit-scrollbar {
    width:.3vw;
    border-radius:.25vw
    }
    
    .procesare-layout > .needed-items::-webkit-scrollbar-thumb {
    background-color:rgba(255,255,255,0.063)
    }
    
    .procesare-layout > .recipe-result {
    height:65%;
    width:35%;
    left:70%;
    top:59%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center
    }
    
    .procesare-layout > .recipe-result > img {
    height:30%;
    width:30%;
    border-radius:.55vw;
    padding:1vh
    }
    
    .procesare-layout > .recipe-result > .btn {
    margin-top:4%;
    background:rgba(255,255,255,0.125);
    padding:2.5vh 3.5vw;
    border-radius:10vw;
    transition:all 1s ease 0s
    }
    
    .procesare-layout > .recipe-result > .btn:hover {
    background:linear-gradient(90deg,transparent,rgba(161,218,203,0.396))
    }
    
    .procesare-layout > .recipe-result > p {
    opacity:.5;
    margin-top:.5%;
    font-size:1.25em
    }
    
    .procesare-layout > .recipe-result > .awaiting-time {
    display:flex;
    gap:3.5%;
    justify-content:center;
    align-items:center;
    margin-top:2.5%;
    width:100%;
    padding:1vh
    }
    
    .procesare-layout > .recipe-result > .awaiting-time > span {
    opacity:.35;
    text-align:center
    }
    
    .procesare-layout > .recipe-result > .awaiting-time > i {
    font-size:1.95em;
    margin-top:.25vh;
    color:#81bcfb
    }
    
    .procesare-layout > .recipe-result > .awaiting-time > p {
    text-align:left;
    font-size:2em;
    font-weight:700
    }
    
    .procesare-layout > .procesare-notification {
    top:97%;
    overflow:hidden;
    width:100%;
    background:rgba(255,255,255,0.02);
    height:5.5%;
    display:none
    }
    
    .procesare-layout > .procesare-notification > .wrapper {
    display:flex;
    align-items:center;
    justify-content:center;
    height:100%;
    width:100%;
    gap:1.5%;
    padding:1vh
    }
    
    .procesare-layout > .procesare-notification > .wrapper.ok {
    background:rgba(30,215,96,0.25)
    }
    
    .procesare-layout > .procesare-notification > .wrapper.wrong {
    background:rgba(194,80,80,0.25)
    }
    
    .procesare-layout > .procesare-notification > .wrapper > i {
    opacity:.5;
    padding:1vh 1.55vh;
    background:rgba(255,255,255,0.063);
    border-radius:.25vw
    }
    
    .procesare-layout > .procesare-notification > .wrapper > p {
    opacity:.5
    }