.radar {
    top:10%;
    display:inline-flex;
    gap:2.2vw;
    justify-content:center;
    align-items:center;
    font-family:"Akrobat"
    }
    
    .radar .km-wrapper {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    gap:.1vw
    }
    
    .radar .km-wrapper .km-number {
    font-size:3.4rem;
    font-weight:800
    }
    
    .radar .km-wrapper .km-text {
    opacity:.5;
    font-weight:500;
    letter-spacing:.25vh
    }
    
    .radar .icons {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:.2vh
    }
    
    .radar .icons .icon {
    font-size:2rem
    }
    
    .radar .icons #radar {
    font-size:1.4rem!important
    }
    
    .radar .vehicle-info {
    margin-top:.5vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:2vh;
    font-weight:600
    }
    
    .radar .vehicle-info .vehicle-name #text {
    font-size:1.2rem;
    opacity:.5;
    text-transform:uppercase
    }
    
    .radar .vehicle-info .vehicle-name p {
    font-size:1.5rem;
    text-transform:uppercase
    }
    
    .radar .vehicle-info .vehicle-plate {
    border:2px solid #fff;
    padding:1vh 2vh;
    border-radius:.3vw;
    font-size:1.2rem;
    text-transform:uppercase
    }