@font-face {
    font-family: R-Flex;
    src: url(https://cdn.fairplay-rp.ro/slots/RFlexRegular-JRJ8j.ttf);
}

#slots_container {
    display: block;
    position: absolute;
    left:0;
    top:0;
    background: url(https://cdn.fairplay-rp.ro/slots/bg.png);
    width: 100vw;
    height: 100vh;
    background-size: 100% 100%;
    box-sizing: unset;
    ;/* aspect-ratio: 16 / 9; */;
}

#slots_container *{
    box-sizing: unset;
    user-select: none;
    outline: 0;
}

#slots_container button {
    background: transparent;
    border: 0;
}

#slots_container .spin {
    display: flex;
    position: absolute;
    bottom: 10.8519vh;
    right: 28.3958vw;
    width: 6.4583vw;
    height: 15.2778vh;
    cursor: pointer;
    /* position: relative;
    width: 6.4583vw;
    height: 15.2778vh;

    transform: matrix(1, 0, 0.11, 0.99, 0, 0); */
}

#slots_container .spin .base {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 0.9259vh;
    isolation: isolate;

    position: absolute;
    width: 4.1667vw;
    height: 15.1852vh;
    left: 0.9636vw;
    top: 1.2889vh;

    background: linear-gradient(180deg, #56CCD3 0%, #45B3B2 100%);
    box-shadow: inset 0vh -0.1852vh 0.1852vh 0.0926vh #107283;
    border-radius: 1.8519vh;
    transform: matrix(1, 0, 0.11, 0.99, 0, 0);
    transition: all 0.3s;
}

#slots_container .spin:active .base {
    transform: matrix(1, 0, 0.11, 0.99, -1, 2);
}

#slots_container .spin .base .text {
    position: absolute;
    width: 1.4063vw;
    height: 13.3333vh;
    left: 1.4453vw;
    top: 0.6444vh;

    font-family: 'R-Flex';
    font-style: normal;
    font-weight: 700;
    font-size: 3.7037vh;
    line-height: 3.3333vh;
    /* or 90% */

    text-align: center;
    text-transform: uppercase;

    color: #3B9294;

    filter: blur(0.0463vh);
    /* transform: matrix(1, 0, 0.11, 0.99, 0, 0); */

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
}

#slots_container .spin .shadow {
    position: absolute;
    left: 12.67%;
    right: 20.39%;
    top: 9.64%;
    bottom: -8.43%;
    width: 4.3229vw;
    height: 15.0926vh;

    background: #107283;
    border-radius: 1.8519vh;
    transform: matrix(1, 0, 0.11, 0.99, 0, 0);
}

#slots_container .spin .shadow2 {
    position: absolute;
left: 18.59%;
right: 12.86%;
top: 45.19%;
bottom: -10.65%;

background: rgba(0, 0, 0, 0.4);
filter: blur(0.3704vh);
border-radius: 1.8519vh;
transform: matrix(1, 0, 0.11, 0.99, 0, 0);
}

#slots_container .spin .shadow3 {
    position: absolute;
width: 4.5964vw;
height: 16.0815vh;
left: 0.3125vw;
top: 1.9444vh;

background: rgba(0, 0, 0, 0.4);
filter: blur(0.7407vh);
border-radius: 1.8519vh;
transform: matrix(1, 0, 0.1, 1, 0, 0);
}

#slots_container .spin .shadow_gap {
    position: absolute;
    left: 9.28%;
    right: 19.76%;
    top: 8.44%;
    bottom: -12.07%;

    background: rgba(0, 0, 0, 0.32);
    box-shadow: inset 0vh 0vh 0.1852vh 0.1852vh rgba(0, 0, 0, 0.24);
    border-radius: 2.037vh;
    transform: matrix(1, 0, 0.11, 0.99, 0, 0);
}

#slots_container .premium_spin {
    display: flex;
    position: absolute;
    bottom: 18.0556vh;
    left: 39.4792vw;
    width: 17.0833vw;
    height: 7.4074vh;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#slots_container .premium_spin .base {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /* padding: 1.1111vh 2.963vh; */
    gap: 0.9259vh;
    isolation: isolate;

    position: absolute;
    width: 17.0833vw;
    height: 7.4074vh;
    left: 0vw;
    top: 0vh;

    background: linear-gradient(180deg, #EEE549 0%, #BCB53C 100%);
    box-shadow: 0vh 0.7407vh 0vh #69662A, 0vh 2.2222vh 1.4815vh -0.7407vh rgba(0, 0, 0, 0.4), inset 0vh -0.1852vh 0.1852vh 0.0926vh #5C5704;
    border-radius: 1.8519vh;
    transition: all 0.3s;
}

#slots_container .premium_spin:active .base {
    transform: matrix(1, 0, 0, 1, 0, 2);
}

#slots_container .premium_spin .base .text {
    position: absolute;
width: 14.3229vw;
height: 5.1852vh;
left: 1.6667vw;
top: 0vh;

font-family: 'R-Flex';
font-style: normal;
font-weight: 700;
font-size: 3.7037vh;
line-height: 5.1852vh;
/* identical to box height, or 140% */

text-align: center;
text-transform: uppercase;

color: #8F8A2C;

filter: blur(0.0463vh);

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
z-index: 1;
}

#slots_container .premium_spin .base .text2 {
    position: absolute;
width: 19.0104vw;
height: 5.1852vh;
left: -0.7813vw;
top: 2.6852vh;

font-family: 'R-Flex';
font-style: normal;
font-weight: 700;
font-size: 1.8519vh;
line-height: 5.1852vh;
/* identical to box height, or 280% */

text-align: center;
text-transform: uppercase;

color: #8F8A2C;

filter: blur(0.0463vh);

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
z-index: 0;
}

#slots_container .premium_spin .umbra {
    position: absolute;
    left: 1.83%;
    right: 1.83%;
    top: 52.5%;
    bottom: -18.75%;

    background: rgba(0, 0, 0, 0.4);
    filter: blur(0.7407vh);
    border-radius: 1.8519vh;
}

#slots_container .premium_spin .spatiu {
    position: absolute;
    left: -0.85%;
    right: -0.85%;
    top: 10%;
    bottom: -15%;

    background: rgba(0, 0, 0, 0.24);
    box-shadow: inset 0vh 0vh 0.1852vh 0.1852vh rgba(0, 0, 0, 0.24);
    border-radius: 2.037vh;
}

#slots_container .slot_m {
    display: flex;
    position: absolute;
    left: 25.3125vw;
    width: 4.638vw;
    height: 6.7407vh;
    bottom: 10.8519vh;
    cursor: pointer;
}

#slots_container .slot_m .base {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /* padding: 1.1111vh 2.963vh; */
    gap: 0.9259vh;
    isolation: isolate;

    position: absolute;
    width: 4.5906vw;
    height: 6.7324vh;
    left: 0.4198vw;
    top: 0.4593vh;

    background: linear-gradient(180deg, #FF6363 0%, #B43519 100%);
    box-shadow: inset 0vh -0.1852vh 0.1852vh 0.0926vh #4E1313;
    border-radius: 1.8519vh;
    transform: matrix(1, 0, -0.16, 0.99, 0, 0);
    transition: all 0.3s;
}

#slots_container .slot_m:active .base {
    transform: matrix(1, 0, -0.15, 0.99, 2, 2) !important;
}

#slots_container .slot_m .base .text{
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    top: -8.02%;
    bottom: 31%;

    font-family: 'R-Flex';
    font-style: normal;
    font-weight: 700;
    font-size: 3.3333vh;
    line-height: 5.1852vh;
    /* identical to box height, or 156% */

    text-align: center;
    text-transform: uppercase;

    color: #8F2424;

        /* filter: blur(0.0463vh); */
        /* transform: matrix(1, 0, -0.15, 0.99, 0, 0); */

        /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
}

#slots_container .slot_m .base .text2{
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    top: 25.07%;
    bottom: -2.09%;

    font-family: 'R-Flex';
    font-style: normal;
    font-weight: 700;
    font-size: 3.7037vh;
    line-height: 5.1852vh;
    /* identical to box height, or 140% */

    text-align: center;
    text-transform: uppercase;

    color: #8F2424;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;
}

#slots_container .slot_m .shadow {
    position: absolute;
    left: 11.51%;
    right: -11.51%;
    top: 9.88%;
    bottom: -9.88%;

    background: #5C1404;
    border-radius: 1.8519vh;
    transform: matrix(1, 0, -0.16, 0.99, 0, 0);
}

#slots_container .slot_m .shadow2 {
    left: 16.18%;
    right: -12.76%;
    top: 56.32%;
    bottom: -25.07%;

    background: rgba(0, 0, 0, 0.4);
    filter: blur(0.7407vh);
    border-radius: 1.8519vh;
    transform: matrix(1, 0, -0.16, 0.99, 0, 0);
}

#slots_container .slot_m .gap {
    position: absolute;
    left: 10.66%;
    right: -12.37%;
    top: 9.88%;
    bottom: -14.88%;

    background: #1B1B1D;
    box-shadow: inset 0vh 0vh 0.1852vh 0.1852vh rgba(0, 0, 0, 0.24);
    border-radius: 2.037vh;
    transform: matrix(1, 0, -0.16, 0.99, 0, 0);
}

#slots_container .slot_p {
    display: flex;
    position: absolute;
    left: 25.9333vw;
    width: 4.638vw;
    height: 6.7407vh;
    bottom: 18.9074vh;
    justify-content: center;
    cursor: pointer;
}

#slots_container .slot_p .base {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /* padding: 1.1111vh 2.963vh; */
    gap: 0.9259vh;
    isolation: isolate;

    position: absolute;
    width: 4.5906vw;
    height: 6.7324vh;
    left: 0.4474vw;
    top: 0.4602vh;

    background: linear-gradient(180deg, #6ABD16 0%, #679935 100%);
    box-shadow: inset 0vh -0.1852vh 0.1852vh 0.0926vh #28521A;
    border-radius: 1.8519vh;
    transform: matrix(1, 0, -0.15, 0.99, 0, 0);
    justify-content:center;
    transition: all 0.3s;
}

#slots_container .slot_p:active .base {
    transform: matrix(1, 0, -0.15, 0.99, 2, 2) !important;
}

#slots_container .slot_p .base .text{
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    top: -8.02%;
    bottom: 31%;

    font-family: 'R-Flex';
    font-style: normal;
    font-weight: 700;
    font-size: 3.3333vh;
    line-height: 5.1852vh;
    /* identical to box height, or 156% */

    text-align: center;
    text-transform: uppercase;

    color: #64761B;

        /* filter: blur(0.0463vh); */
        /* transform: matrix(1, 0, -0.15, 0.99, 0, 0); */

        /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
}

#slots_container .slot_p .base .text2{
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    top: 25.07%;
    bottom: -2.09%;

    font-family: 'R-Flex';
    font-style: normal;
    font-weight: 700;
    font-size: 3.7037vh;
    line-height: 5.1852vh;
    /* identical to box height, or 140% */

    text-align: center;
    text-transform: uppercase;

    color: #64761B;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;
}

#slots_container .slot_p .shadow {
    position: absolute;
    left: 11.51%;
    right: -11.51%;
    top: 9.88%;
    bottom: -9.88%;

    background: #355C04;
    border-radius: 1.8519vh;
    transform: matrix(1, 0, -0.16, 0.99, 0, 0);
}

#slots_container .slot_p .shadow2 {
    position: absolute;
    left: 15.06%;
    right: -11.64%;
    top: 49.45%;
    bottom: -18.2%;

    background: rgba(0, 0, 0, 0.4);
    filter: blur(0.7407vh);
    border-radius: 1.8519vh;
    transform: matrix(1, 0, -0.15, 0.99, 0, 0);
}

#slots_container .slot_p .gap {
    position: absolute;
    left: 10.66%;
    right: -12.37%;
    top: 9.88%;
    bottom: -14.88%;

    background: #1B1B1D;
    box-shadow: inset 0vh 0vh 0.1852vh 0.1852vh rgba(0, 0, 0, 0.24);
    border-radius: 2.037vh;
    transform: matrix(1, 0, -0.16, 0.99, 0, 0);
}

#slots_container #machine {
    position: absolute;
    left:50.5%;
    top:41.6%;
    /* border:0.1852vh solid red; */
    width: 43.75vw;
    height: 52.7778vh;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: url(https://cdn.fairplay-rp.ro/slots/ccc.png);
    padding: 13.8889vh 7.4074vh;
    background-size: 120% 150%;
    background-repeat: no-repeat;
    /* overflow: hidden; */
    z-index: -1;
}

#slots_container  .dublaje {
    display: flex;
    position: absolute;
    width: 43.5%;
    height: 49%;
    background: url(https://cdn.fairplay-rp.ro/slots/flarewp.png);
    ;;;;;;background-size: 100% 100%;;;;;;;
;;;;;;;;;;;;;;;;;left: 50.4%;;;;;;;;;;;;;;;;;;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;top: 14.5%;;;;;;;;;;;;;;;transform: translate(-50%,0);;;;;;;;;;;;;;;;;;;
}

#slots_container  .dublaje .neagra {
    position: absolute;
    transform: translate(-50%,0);
    background: url(https://cdn.fairplay-rp.ro/slots/NEGRU.png);
    width: 13.020vw;
    height: 11.111vh;
    background-size: 100% 100%;
    ;;left: 20%;;;
    bottom: 13.7%;
}

#slots_container  .dublaje .potential {
    position: absolute;
    left: 10%;
    top: 15%;
    font-size: 2.22vh;
    text-align: center;
}

#slots_container  .dublaje .history {
    position: absolute;
    display: flex;
    flex-direction: row;
    right: 5%;
    top: 12%;
    gap: 0.4629629629629629vh;
}

#slots_container  .dublaje .history .rosie_card {
    background: url(https://cdn.fairplay-rp.ro/slots/rosie.png);
    width: 3.90625vw;
    height: 10.185185185185185vh;
    background-size: 100% 100%;
    left:50%;
    bottom: 5%;
}

#slots_container  .dublaje .history .neagra_card {
    background: url(https://cdn.fairplay-rp.ro/slots/neagra.png);
    width: 3.90625vw;
    height: 10.185185185185185vh;
    background-size: 100% 100%;
    left:50%;
    bottom: 5%;
}

#slots_container  .dublaje .rosie {
    position: absolute;
    transform: translate(50%,0);
    background: url(https://cdn.fairplay-rp.ro/slots/ROSU.png);
    width: 13.020vw;
    height: 11.111vh;
    background-size: 100% 100%;
    right: 20%;
    bottom: 13.7%;
}

#slots_container  .dublaje .carte_mijloc {
    position: absolute;
    transform: translate(-50%,0);
    background: url(https://cdn.fairplay-rp.ro/slots/rosie.png);
    width: 7.8125vw;
    height: 20.37037037037037vh;
    background-size: 100% 100%;
    left:50%;
    bottom: 5%;
    animation: 0.15s linear cardrandomizer infinite;
}

/* inset 1.0185vh 1.0185vh 2.7778vh 0.2778vh red; */
@keyframes cardrandomizer {
    0% {
        background: url(https://cdn.fairplay-rp.ro/slots/rosie.png);  
        background-size: 100% 100%;
    }
    50%{
        background: url(https://cdn.fairplay-rp.ro/slots/neagra.png);
        background-size: 100% 100%;
    }
    100% {
        background: url(https://cdn.fairplay-rp.ro/slots/rosie.png);  
        background-size: 100% 100%;
    }
}

#slots_container #machine .row {
    color: white;
    padding-top: 16.2037vh;
    width: 20%;
    height: 65%;
    overflow: hidden;
}

#slots_container #machine .row div {
    /* padding: 0.9259vh 0; */
    width: 100%;
}

#slots_container #machine .row div.s_10 {
    background:url(https://cdn.fairplay-rp.ro/slots/10.png); 
    width: 8.75vw; 
    height: 15.5556vh; 
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#slots_container #machine .row div.s_cat {
    background:url(https://cdn.fairplay-rp.ro/slots/cat.png); 
    width: 8.75vw; 
    height: 15.5556vh; 
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#slots_container #machine .row div.s_para {
    background:url(https://cdn.fairplay-rp.ro/slots/pharaoh.png); 
    width: 8.75vw; 
    height: 15.5556vh; 
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#slots_container #machine .row div.s_q {
    background:url(https://cdn.fairplay-rp.ro/slots/Q.png); 
    width: 8.75vw; 
    height: 15.5556vh; 
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#slots_container #machine .row div.s_k {
    background:url(https://cdn.fairplay-rp.ro/slots/K.png); 
    width: 8.75vw; 
    height: 15.5556vh; 
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#slots_container #machine .row div.s_bug {
    background:url(https://cdn.fairplay-rp.ro/slots/BUG.png); 
    width: 8.75vw; 
    height: 15.5556vh; 
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#slots_container #machine .row div.redWin {
    box-shadow: inset 0 0 2.7778vh 0.2778vh rgba(195, 0, 0, 0.7), inset -1.0185vh 1.0185vh 2.7778vh 0.2778vh rgba(195, 0, 0, 0.7);
    transition: 0.5s;
    animation: 1.5s linear randomizer infinite;
}

/* inset 1.0185vh 1.0185vh 2.7778vh 0.2778vh red; */
@keyframes randomizer {
    0% {
        box-shadow: inset 0 0 2.7778vh 0.2778vh rgba(195, 0, 0, 0.7), inset 1.0185vh 1.0185vh 2.7778vh 0.2778vh rgba(195, 0, 0, 0.7);
    }
    25% {
        box-shadow: inset 0 0 2.7778vh 0.2778vh rgba(195, 0, 0, 0.7), inset 1.0185vh -1.0185vh 2.7778vh 0.2778vh rgba(195, 0, 0, 0.7);
    }
    50% {
        box-shadow: inset 0 0 2.7778vh 0.2778vh rgba(195, 0, 0, 0.7), inset -1.0185vh -1.0185vh 2.7778vh 0.2778vh rgba(195, 0, 0, 0.7);  
    }
    75% {
        box-shadow: inset 0 0 2.7778vh 0.2778vh rgba(195, 0, 0, 0.7), inset -1.0185vh 1.0185vh 2.7778vh 0.2778vh rgba(195, 0, 0, 0.7);
    }
    100% {
        box-shadow: inset 0 0 2.7778vh 0.2778vh rgba(195, 0, 0, 0.7), inset 1.0185vh 1.0185vh 2.7778vh 0.2778vh rgba(195, 0, 0, 0.7);
    }
}

#slots_container #machine .row div.yellowWin {
    box-shadow: inset 0 0 2.7778vh 0.2778vh rgb(255, 140, 0);
    transition: 0.5s;
}

.slotMachineNoTransition {
    transition: none !important;
}

.slotMachineBlurFast {
    filter: blur(0.463vh);
}

.slotMachineBlurMedium {
    filter: blur(0.2778vh);
}

.slotMachineBlurSlow {
    filter: blur(0.1852vh);
}

.slotMachineBlurTurtle {
    filter: blur(0.0926vh);
}

.slotMachineGradient {
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(25%, rgba(0,0,0,1)), color-stop(75%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,0)) );
    mask: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http:// www.w3.org/2000/svg" width="0" height="0"><mask id="slotMachineFadeMask" maskUnits="objectBoundingBox" maskContentUnits="objectBoundingBox"><linearGradient id="slotMachineFadeGradient" gradientUnits="objectBoundingBox" x="0" y="0"><stop stop-color="white" stop-opacity="0" offset="0"></stop><stop stop-color="white" stop-opacity="1" offset="0.25"></stop><stop stop-color="white" stop-opacity="1" offset="0.75"></stop><stop stop-color="white" stop-opacity="0" offset="1"></stop></linearGradient><rect x="0" y="-1" width="1" height="1" transform="rotate(90)" fill="url(#slotMachineFadeMask)"></rect></mask></svg>#slotMachineFadeMask');
}