.speedometer-layout{
    position: absolute;
    bottom: 2.5%;
    right: 2.5%;
    width: 20%;
    height: 25%;
    font-family: "Akrobat Bold";
    display: none;
    z-index: 1;
}

.speedometer-layout > .wrapper{

    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    
}

.speedometer-layout > .wrapper > p{
    position:relative;
    color: #ffffff60;
    font-size: 1.15em;
    letter-spacing: .5px;
    line-height: 0;
    top:7.4074074074074066vh;
}

.speedometer-layout > .wrapper > .speed-data{
    position:relative;
    display: flex;
    gap: 1vw;
    align-items: center;
    justify-content: flex-end;
    right:8.333333333333332vh;
    top: 4.351851851851852vh;
}

.speedometer-layout > .wrapper > .speed-data > h1{
    font-family: "Akrobat ExtraBold";
    font-size: 4.5em;
    letter-spacing: 1.5px;
}

.speedometer-layout > .wrapper > .speed-data > h1 > span{
    opacity: .5;
}

.speedometer-layout > .wrapper > .speed-data > .right-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5vh;
}

.speedometer-layout > .wrapper > .speed-data > .right-data > .gear-lvl{
    text-align: center;
    width: 1.55vw;
    height: 3vh;
    line-height: 2.5vh;
    background: #ffffff20;
    border: 2px solid #ffffff40;
    border-radius: .35vw;
    font-size: 1.15em;
}

.speedometer-layout > .wrapper > .speed-data > .right-data > p{
    position:relative;
    bottom: 1.3888888888888888vh;
    right: 0.9259259259259258vh;
    opacity: .5;
    font-size: .75em;
}

.speedometer-layout > .wrapper > .icons-box{
    display: flex;
    gap: 1vw;
    align-items: center;
    justify-content: center;

    width: 12.314814814814815vh;
    height: 2.4074074074074074vh;
    background: rgba(108, 108, 108, 0.4);
    border: 1px solid #FFFFFF;
    padding: 0.3703703703703704vh 0.2777777777777778vh;
    /* Note: backdrop-filter has minimal browser support */
    
    border-radius: 2.7777777777777777vh;
}

.speedometer-layout > .wrapper > .icons-box > img{
    width: 1.2037037037037037vh;
    height: 1.7592592592592593vh;
    opacity: .65;
}

.speedometer-layout > .wrapper > .icons-box > img.active{
    opacity: 1;
}

.speedometer-layout > .wrapper > .icons-box > img:nth-of-type(3){
    width: .9em;
}

.speedometer-layout > .wrapper > .fuel-data{
    display: flex;
    gap: 1vw;
    align-items: center;
    margin-top: 1vh;
}

.speedometer-layout > .wrapper > .fuel-data > .progress-bar{
    width: 7.5vw;
    height: .65vh;
    border-radius: 2px;
    background: #ffffff40;
    margin-top: .3vh;
    transition: 1s;
}

.speedometer-layout > .wrapper > .fuel-data > .progress-bar > .fill-progress{
    width: 0%;
    height: 100%;
    background: #fff;
    /* background: rgb(194, 80, 80); - christmas style */
    transition: 1s;
}