@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit&family=Open+Sans:wght@600&family=Smooch+Sans:wght@600&display=swap');

.culegator_de_mere-container {
    width:75rem;
    height: 45rem;

    background-image: url('https://cdn.fairplay-rp.ro/jobProfile/culegator_de_merejob.webp');
    background-repeat: no-repeat;
    border-radius: 15px;
    padding: 2rem;
    font-family: 'Smooch Sans', sans-serif;
    transform: perspective(300px) rotateY(3deg);

    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}

.culegator_de_mere-container .culegator_de_mere-info {
    margin-top: 7rem;
    margin-left: 7rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-weight: 600;
    font-size: 1.2rem;
    color: white;
}

.culegator_de_mere-container .culegator_de_mere-info .culegator_de_mere-info-boxes {
    margin-top: 1rem;
    display: inline-flex;
    align-items: center;
    gap: 25px;
}

.culegator_de_mere-container .culegator_de_mere-info .culegator_de_mere-info-boxes .culegator_de_mere-box {
    min-height: 3rem;
    min-width: 7rem;
    max-width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.671);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    font-size: 1rem;
}

.culegator_de_mere-container .culegator_de_mere-description {
    margin-top: 3rem;
    margin-left: 7rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    gap: 15px;
    max-width: 30rem;
}

.culegator_de_mere-container .culegator_de_mere-description .title {
    font-size: 1.5rem;
    color: white;
    font-weight: 600;
}

.culegator_de_mere-container .culegator_de_mere-description .description {
    color: white;
    opacity: .9;
    font-size: 1.2rem;
}

.culegator_de_mere-container .skills-bar {
    margin-top: 2.5rem;
    margin-left: 1rem;
    max-width: 60%;
}

.culegator_de_mere-container .skills-bar .progressbar {
    counter-reset: step;
}

.culegator_de_mere-container .skills-bar .progressbar li {
    list-style-type: none;
    float: left;
    min-width: 33%;
    position: relative;
    text-align: center;
    color: white;
}

.culegator_de_mere-container .skills-bar .progressbar li:before {
    font-family: FontAwesome; 
    content: '\f023';
    color:rgb(255,109,109);
    counter-increment: step;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 2px solid rgb(255,109,109);
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.863);
}

.culegator_de_mere-container .skills-bar .progressbar li:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: rgba(221, 221, 221, 0.795);
    top: 15px;
    left: -50%;
    z-index: -1;
}

.culegator_de_mere-container .skills-bar .progressbar li:first-child:after {
    content: none;
}

.culegator_de_mere-container .skills-bar .progressbar li.active:before {
    font-family: FontAwesome; 
    color:rgb(255,109,109);
    border: 2px solid rgb(255,109,109);
    content: '\f00c';
}

.culegator_de_mere-container .skills-bar .progressbar li.unlocked:before {
    font-family: FontAwesome; 
    color:rgb(255,109,109);
    border: 2px solid rgb(255,109,109);
    content: '\f09c';
}

.culegator_de_mere-container .skills-bar .progressbar li:hover {
    cursor: pointer;
}

.culegator_de_mere-container .skills-bar .progressbar li.active + li:after {
    background-color: rgb(255,109,109);
}

.culegator_de_mere-container .button {
    margin-top: 3rem;
    margin-left: 7rem;

    min-width: 5rem;
    min-height: 3rem;
    max-width: 6rem;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

    color: white;
    background-color: rgba(0, 0, 0, 0.671);
}

.culegator_de_mere-container .button:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.938);
}