
.taxi-layout {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
/*    background-image: url(https://cdn.fairplay-rp.ro/recovery/unknown.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;*/
    font-family: "Akrobat";
    display: none; 
}

.taxi-layout > .wrapper {
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

.taxi-layout > .cover-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:#203939;
    background:linear-gradient(135deg,#203939,#394160);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=\"#203939\",endColorstr=\"#394160\",GradientType=1);
    opacity: .8;
}

.taxi-layout > .wrapper > .side-data {
    background: url("https://cdn.fairplay-rp.ro/recovery/unknown (6).png");
    background-repeat: no-repeat;
    background-size: 95% 95%;
    width: 23.5%;
    height: 53.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 3.5%;
    gap: 5.5%;
    padding-top: 1vh;
    padding-right: 1.15vw;
}

.taxi-layout > .wrapper > .side-data > img {
    width: 25%;
    margin-top: 2.5%;
}

.taxi-layout > .wrapper > .side-data > .headers {
    margin-top: 10.5%;
    display: flex;
    flex-direction: column;
    gap: .55vh;
}

.taxi-layout > .wrapper > .side-data > .headers > h1 {
    color: #d5c45e;
    font-size: .9em;
    letter-spacing: .35vh;
}

.taxi-layout > .wrapper > .side-data > .headers > h1:nth-of-type(2) {
    font-size: 1.2em;
    color: #fff;
}

.taxi-layout > .wrapper > .side-data > .text-box {
    display: flex;
    flex-direction: column;
    gap: 1.25vh;
    text-align: center;
}

.taxi-layout > .wrapper > .side-data > .text-box:nth-of-type(3) {
    width: 85%;
}

.taxi-layout > .wrapper > .side-data > .text-box:nth-child(3) {
    margin-top: .5vh
}

.taxi-layout > .wrapper > .side-data > .text-box > p {
    opacity: .5;
    font-weight: 700;
    font-size: 1.05em;
    letter-spacing: .5vh
}

.taxi-layout > .wrapper > .side-data > .text-box > p:nth-of-type(2) {
    font-size: .85em;
    letter-spacing: .165vh;
    font-weight: 500;
    opacity: .4
}

.taxi-layout > .wrapper > .side-data > .text-box > span {
    text-shadow: 0 0 20px #000;
    font-weight: 700;
    font-size: 1.05em;
    letter-spacing: .35vh
}

.taxi-layout > .wrapper > .main-data {
    background: url("https://cdn.fairplay-rp.ro/recovery/unknown (5).png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 62.5%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 7.5vh 5vw;
    gap: 8%
}

.taxi-layout > .wrapper > .main-data > img{
    position: absolute;
    width: 10.5%;
    right: 3.5%;
    top: 7.5%;
}

.taxi-layout > .wrapper > .main-data > h1 {
    font-size: 2.5em;
    letter-spacing: .3vh;
    color: #2b3239;
    font-family: "Akrobat ExtraBold";
}

.taxi-layout > .wrapper > .main-data > .job-description {
    display: flex;
    flex-direction: column;
    gap: .025vh;
    color: #2b3239;
}

.taxi-layout > .wrapper > .main-data > .job-description > p {
    font-weight: 900;
    font-size: 1.15em;
    letter-spacing: .25vh
}

.taxi-layout > .wrapper > .main-data > .job-description > .list {
    margin-top: 1.5vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1vw;
}

.taxi-layout > .wrapper > .main-data > .job-description > .list > .list-item{
    width: 11.5vw;
    background: #6a5a2d;
    padding: 1.5vh;
    display: flex;
    align-items: center;
    border-radius: .35vw;
}

.taxi-layout > .wrapper > .main-data > .job-description > .list > .list-item:nth-of-type(1){
    justify-items: center;
}

.taxi-layout > .wrapper > .main-data > .job-description > .list > .list-item > p{
    color: #fbc226;
    font-size: 1.15em;
    font-family: "Akrobat Bold";
    letter-spacing: .25vh;
    width: 80%;
}

.taxi-layout > .wrapper > .main-data > .job-tutorial {
    display: flex;
    flex-direction: column;
    gap: .025vh;
    color: #2b3239;
    width: 100%;
}

.taxi-layout > .wrapper > .main-data > .job-tutorial > p {
    font-weight: 900;
    font-size: 1.15em;
    letter-spacing: .25vh
}

.taxi-layout > .wrapper > .main-data > .job-tutorial > .text-box {
    margin-top: 1.5vh;
    width: 100%;
    padding-right: 1vw;
    height: 10vh;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: .5vh;
}

.taxi-layout > .wrapper > .main-data > .job-tutorial > .text-box::-webkit-scrollbar {
    width: 4px;
}

.taxi-layout > .wrapper > .main-data > .job-tutorial > .text-box::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.taxi-layout > .wrapper > .main-data > .job-tutorial > .text-box::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #24272d;
}

.taxi-layout > .wrapper > .main-data > .job-tutorial > .text-box::-webkit-scrollbar-thumb:window-inactive {
    background: #24272d;
}

.taxi-layout > .wrapper > .main-data > .job-tutorial > .text-box > p{
    font-size: 1.75em;
    letter-spacing: .1vh;
}

.taxi-layout > .wrapper > .main-data > .job-tutorial > .text-box > p > span{
    font-family: "Akrobat Bold";
}

.taxi-layout > .wrapper > .main-data > .job-actions {
    display: flex;
    gap: 1vw;
    margin-top: auto
}

.taxi-layout > .wrapper > .main-data > .job-actions > p {
    background: #2e323c;
    border-radius: .35vw;
    padding: 2.55vh 2.5vw;
    font-size: 1.2em;
    letter-spacing: .35vh;
    font-weight: 700;
    transition: .25s;
}

.taxi-layout > .wrapper > .main-data > .job-actions > p:nth-of-type(2) {
    padding: 2.25vh 2.5vw
}

.taxi-layout > .wrapper > .main-data > .job-actions > p:hover {
    box-shadow: 0 0 0 7.5px #2e323c30;
}

.taxi-layout > .wrapper > img {
    position: absolute
}

.taxi-layout > .wrapper > img:nth-of-type(1) {
    width: 46vw;
    height: 98%;
    margin-left: 25%;
    z-index: -1
}

.taxi-layout > .wrapper > img:nth-of-type(2) {
    width: auto;
    height: 97%;
    margin-left: 75.5%
}

/* Manager menu */

.taxi-management {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
/*    background-image: url("https://cdn.fairplay-rp.ro/recovery/unknown (4).png");
    background-repeat: no-repeat;
    background-size: 100% 100%;*/
    font-family: "Akrobat";
    display: none; 
}

.taxi-management > .wrapper {
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

.taxi-management > .cover-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:#203939;
    background:linear-gradient(135deg,#203939,#394160);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=\"#203939\",endColorstr=\"#394160\",GradientType=1);
    opacity: .8;
}

.taxi-management > .wrapper > .side-data {
    background: url("https://cdn.fairplay-rp.ro/recovery/unknown (2).png");
    background-repeat: no-repeat;
    background-size: 95% 95%;
    width: 23.5%;
    height: 53.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 3.5%;
    gap: 5.5%;
    padding-top: 1vh;
    padding-right: 1.15vw;
}

.taxi-management > .wrapper > .side-data > img {
    width: 25%;
    margin-top: 2.5%;
}

.taxi-management > .wrapper > .side-data > .headers {
    margin-top: 15.5%;
    display: flex;
    flex-direction: column;
    gap: .55vh;
}

.taxi-management > .wrapper > .side-data > .headers > h1 {
    color: #d5c45e;
    font-size: .9em;
    letter-spacing: .35vh;
}

.taxi-management > .wrapper > .side-data > .headers > h1:nth-of-type(2) {
    font-size: 1.2em;
    color: #fff;
}

.taxi-management > .wrapper > .side-data > .text-box {
    display: flex;
    flex-direction: column;
    gap: 1.25vh;
    text-align: center;
}

.taxi-management > .wrapper > .side-data > .text-box:nth-of-type(3) {
    width: 85%;
}

.taxi-management > .wrapper > .side-data > .text-box:nth-child(3) {
    margin-top: .5vh
}

.taxi-management > .wrapper > .side-data > .text-box > p {
    opacity: .5;
    font-weight: 700;
    font-size: 1.05em;
    letter-spacing: .5vh
}

.taxi-management > .wrapper > .side-data > .text-box > p:nth-of-type(2) {
    font-size: .85em;
    letter-spacing: .165vh;
    font-weight: 500;
    opacity: .4
}

.taxi-management > .wrapper > .side-data > .text-box > span {
    text-shadow: 0 0 20px #000;
    font-weight: 700;
    font-size: 1.05em;
    letter-spacing: .35vh
}

.taxi-management > .wrapper > .side-data > .text-box > strong{
    padding: 1.5vh 1.5vw;
    background: #2e323c;
    border-radius: .25vw;
    margin-top: 1vh;
    font-size: .85em;
    letter-spacing: .15vh;
    align-self: center;
}

.taxi-management > .wrapper > .side-data > .text-box > strong:hover {
    box-shadow: 0 0 0 7.5px #2e323c30;
}

.taxi-management > .wrapper > .main-data {
    background: url("https://cdn.fairplay-rp.ro/recovery/unknown (3).png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 62.5%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 7.5vh 5vw;
    gap: 8%
}

.taxi-management > .wrapper > .main-data > img{
    position: absolute;
    width: 10.5%;
    right: 3.5%;
    top: 7.5%;
}

.taxi-management > .wrapper > .main-data > h1 {
    font-size: 2.5em;
    letter-spacing: .3vh;
    color: #2b3239;
    font-family: "Akrobat ExtraBold";
}

.taxi-management > .wrapper > .main-data > .job-description {
    display: flex;
    flex-direction: column;
    gap: .025vh;
    color: #2b3239;
}

.taxi-management > .wrapper > .main-data > .job-description > p {
    font-weight: 900;
    font-size: 1.15em;
    letter-spacing: .25vh
}

.taxi-management > .wrapper > .main-data > .job-description > .list {
    margin-top: 1.5vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1vw;
}

.taxi-management > .wrapper > .main-data > .job-description > .list > .list-item{
    width: 11.5vw;
    background: #6a5a2d;
    padding: 1.5vh;
    display: flex;
    border-radius: .35vw;
}

.taxi-management > .wrapper > .main-data > .job-description > .list > .list-item > p{
    color: #fbc226;
    font-size: 1.15em;
    font-family: "Akrobat Bold";
    letter-spacing: .25vh;
    width: 80%;
}

.taxi-management > .wrapper > .main-data > .job-description > .list > strong{
    width: 11.5vw;
    background: #2e323c;
    padding: 1.5vh;
    display: flex;
    border-radius: .35vw;
    align-items: center;
    justify-content: center;
    color: #fff;
    letter-spacing: .35vh;
    transition: .5s;
}

.taxi-management > .wrapper > .main-data > .job-description > .list > strong:hover {
    box-shadow: 0 0 0 7.5px #2e323c30;
}

.taxi-management > .wrapper > .main-data > .job-tutorial {
    display: flex;
    flex-direction: column;
    gap: .025vh;
    color: #2b3239;
    width: 100%;
}

.taxi-management > .wrapper > .main-data > .job-tutorial > p {
    font-weight: 900;
    font-size: 1.15em;
    letter-spacing: .25vh
}

.taxi-management > .wrapper > .main-data > .job-tutorial > .text-box {
    margin-top: 1.5vh;
    width: 100%;
    padding-right: 1vw;
    height: 10vh;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: .5vh;
}

.taxi-management > .wrapper > .main-data > .job-tutorial > .text-box::-webkit-scrollbar {
    width: 4px;
}

.taxi-management > .wrapper > .main-data > .job-tutorial > .text-box::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.taxi-management > .wrapper > .main-data > .job-tutorial > .text-box::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #24272d;
}

.taxi-management > .wrapper > .main-data > .job-tutorial > .text-box::-webkit-scrollbar-thumb:window-inactive {
    background: #24272d;
}

.taxi-management > .wrapper > .main-data > .job-tutorial > .text-box > p{
    font-size: 1.75em;
    letter-spacing: .1vh;
}

.taxi-management > .wrapper > .main-data > .job-tutorial > .text-box > p > span{
    font-family: "Akrobat Bold";
}

.taxi-management > .wrapper > .main-data > .job-actions {
    display: flex;
    gap: 1vw;
    margin-top: auto
}

.taxi-management > .wrapper > .main-data > .job-actions > p {
    background: #2e323c;
    border-radius: .35vw;
    padding: 2.55vh 2.5vw;
    font-size: 1.9em;
    letter-spacing: .35vh;
    font-weight: 700;
    transition: .25s;
}

.taxi-management > .wrapper > .main-data > .job-actions > p:nth-of-type(2) {
    padding: 2.25vh 2.5vw
}

.taxi-management > .wrapper > .main-data > .job-actions > p:hover {
    box-shadow: 0 0 0 7.5px #2e323c30;
}

.taxi-management > .wrapper > .main-data > .job-actions > input{
    border: none;
    background: none;
    text-align: left;
    font-family: "Akrobat Bold";
    font-size: 2em;
    padding: 0 .5vw;
    padding-left: 1.5vw;
    letter-spacing: .25vh;
    margin-left: 1vw;
    color: #4b5162;
}

.taxi-management > .wrapper > .main-data > .job-actions > input::-webkit-outer-spin-button, 
.taxi-management > .wrapper > .main-data > .job-actions > input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.taxi-management > .wrapper > .main-data > .job-actions > input:focus{
    outline: none;
}

.taxi-management > .wrapper > img {
    position: absolute
}

.taxi-management > .wrapper > img:nth-of-type(1) {
    width: 46vw;
    height: 98%;
    margin-left: 25%;
    z-index: -1
}

.taxi-management > .wrapper > img:nth-of-type(2) {
    width: auto;
    height: 97%;
    margin-left: 75.5%
}

/* .taximeter-layout{
    padding: 0;
    padding-right: 1vw;
    position: absolute;
    bottom: 22.5%;
    font-family: "Akrobat Bold";
    display: none;
}

.taximeter-layout > .wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 1vw;
    align-items: center;
}

.taximeter-layout > .wrapper > img{
    width: 2.5em;
}

.taximeter-layout > .wrapper > p{
    font-size: 1.2em;
    color: #fbe76e;
}

.taximeter-layout > .wrapper > p:nth-of-type(2){
    font-size: 1.25em;
    font-family: "Akrobat ExtraBold";
    color: #fff;
} */

#fpTaxiMeter { display: none; }

#fpTaxiMeter *{
    margin:revert;
    padding:revert;
}

.fpTaxiMeter-TitleText {
    position: absolute;
    top: 0;
    left: 60%;
}

.fpTaxiMeter-Texts {
    position: absolute;
    font-family: 'Akrobat';
    text-align: right;
    color: #fff;
    right: 10%;
}

.fpTaxiMeter-Texts > h1 {
    margin: 0.5vh;
    font-size: 1.2em;
}

.fpTaxiMeter-TitleText > h1 {
    font-family: 'Akrobat';
    font-weight: Bold;
    letter-spacing: 0.08em;
    font-size: 1.5em;
    color: #ffd235;
    text-shadow: 0 0 20px #ffd33584;
    margin-top: 1.1vh;
    line-height: 0.01vh;
}

.fpTaxiMeter-TitleText > h2 {
    font-family: 'Akrobat';
    justify-content: center;
    font-weight: 100;
    font-size: 1.3em;
    text-align: left;
    color: #fff;
    text-shadow: 0 0 20px #ffffff20;
    margin-top: 1.1vh;
    line-height: 0.01vh;
    text-align: center;
    margin: 0.8vh;
}

.fpTaxiMeter-TitleText > p {
    font-family: 'Akrobat';
    font-weight: Bold;
    letter-spacing: 0.08em;
    font-size: 1.7em;
    color: #01feef;
    text-align: center;
    text-shadow: 0 0 20px #01feed50;
    line-height: 0.01vh;
}

.fpTaxiMeter-Sign {
    position: absolute;
    top: 0;
    left: 85%;
    width: 88%;
    height: 240%;
    background-image: url('https://imgur.com/qmRhq1r.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.fpTaxiMeter-BorderMain {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 300%;
    background-image: url('https://imgur.com/Xrx2oGV.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: -1;
}

/* Taxi comamnds menu */

.taxicmds-layout {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
/*    background-image: url("https://cdn.fairplay-rp.ro/recovery/unknown (1).png");
    background-repeat: no-repeat;
    background-size: 100% 100%;*/
    font-family: "Akrobat";
    display: none;
}

.taxicmds-layout > .wrapper {
    width: 65%;
    height: 70%;
    background: url("https://cdn.fairplay-rp.ro/recovery/unknown.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 7.5vh 5vw;
    gap: 8%
}

.taxicmds-layout > .cover-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:#203939;
    background:linear-gradient(135deg,#203939,#394160);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=\"#203939\",endColorstr=\"#394160\",GradientType=1);
    opacity: .8;
}

.taxicmds-layout > .wrapper > img{
    position: absolute;
    width: 15.5%;
    right: -3%;
    top: -6.5%;
}

.taxicmds-layout > .wrapper > header{
    width: 100%;
    padding-right: 2vw;
    font-family: "Akrobat ExtraBold";

    display: flex;
    align-items: center;
    gap: 1vw;
    color: #2e323c;
}

.taxicmds-layout > .wrapper > header > h1{
    font-size: 2.5em;
}

.taxicmds-layout > .wrapper > header > .total-orders{
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: .65vw;
}

.taxicmds-layout > .wrapper > header > .total-orders > h1{
    font-size: 3em;
}

.taxicmds-layout > .wrapper > header > .total-orders > .texts > p{
    letter-spacing: .2vh;
}

.taxicmds-layout > .wrapper > #commands-table{
    height: 80%;
    overflow-y: auto;
    padding-right: 1.5vw;
}

.taxicmds-layout > .wrapper > #commands-table::-webkit-scrollbar {
    width: 4px;
}

.taxicmds-layout > .wrapper > #commands-table::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.taxicmds-layout > .wrapper > #commands-table::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #24272d;
}

.taxicmds-layout > .wrapper > #commands-table::-webkit-scrollbar-thumb:window-inactive {
    background: #24272d;
}

.taxicmds-layout > .wrapper > #commands-table > table{
    border-spacing: 0 1.5vh;
}

.taxicmds-layout > .wrapper > #commands-table > table tr th{
    font-weight: 400;
    color: #24272d;
    letter-spacing: 2px;
    font-size: 16px;
    text-transform: uppercase;
    text-align: left;
    padding: 10px 0;
    padding-right: 10vw;
}

.taxicmds-layout > .wrapper > #commands-table > table tr th:nth-of-type(1){
    padding-right: 12.5vw;
}

.taxicmds-layout > .wrapper > #commands-table > table tr th:nth-of-type(2){
    padding-right: 6.5vw;
}

.taxicmds-layout > .wrapper > #commands-table > table tr td{
    color: #24272d;
    letter-spacing: 0;
    font-size: 22px;
    font-weight: 700;
    padding: 10px 0;
    vertical-align: middle;
    padding-right: 12px;
}

.taxicmds-layout > .wrapper > #commands-table > table tr td.accept-cmd{
    border: 2px solid #24272d;
    padding: 1vh 1.5vw;
    border-radius: .25vw;
    letter-spacing: 2px;
    transition: .5s;
    text-align: center;
}

.taxicmds-layout > .wrapper > #commands-table > table tr td.accept-cmd:hover{
    opacity: .6;
}

.taxicall-alert-layout{
    position: absolute;
    bottom: 4.5%;
    left: 35%;
    font-family: "Akrobat";
    display: none;
    animation: animTaxiCall 1s;
}

.taxicall-alert-layout > .wrapper{
    display: flex;
    align-items: center;
    gap: 1.5vw;
}

.taxicall-alert-layout > .wrapper > img{
    align-self: flex-start;
    margin-top: .5vh;
    width: 35px;
    height: 55px;
    border-radius: .25vw;
    filter: drop-shadow(-3px -3px 2px #d7a85a50)
          drop-shadow(5px 5px 5px #d7a85a35);
}

.taxicall-alert-layout > .wrapper > .texts{
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.taxicall-alert-layout > .wrapper > .texts > .line{
    background: #ffffff60;
    width: 9vw;
    height: .3vh;
    border-radius: 10vw;
}

.taxicall-alert-layout > .wrapper > .texts > h1{
    font-size: 1.5em;
    font-family: "Akrobat Bold";
    letter-spacing: 1.5px;
}

.taxicall-alert-layout > .wrapper > .texts > .paragraphs > p{
    font-size: 1.15em;
    letter-spacing: 1px;
    line-height: 1.4;
    text-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

@keyframes animTaxiCall{
    from {
        bottom: -10%;
    } to {
        bottom: 4.5%;   
    }
}